@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ResourcesLayout.cshtml";
}

<div id="page_content_inner">
    <div class="breadcrumb-nav">
        <button type="button" class="btn-back" onclick="cancelHandler()">Resources</button>
    </div>
    <h4 class="heading_a uk-margin-bottom">
        <div class="icon"><img src="~/Images/listicons/icn-case.png" /></div>
        <div class="titletext">
            <div>
                Case List
                <p>
                    Manage case details for employees.
                </p>
            </div>
        </div>
        <div class="clearfix"></div>
    </h4>
    <div class="md-card">
        <div >
            <div id="tableDiv">
                @Html.Action("CaseList", "EmpolyeeCases")
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var constantCmpCustomer = {
        addEdit: '@Url.Action("AddEditCase", "EmpolyeeCases")',
        SaveCmp: '@Url.Action("SaveCase", "EmpolyeeCases")',
        EditCmp: '@Url.Action("EditCase", "EmpolyeeCases")',
        DeleteCmp: '@Url.Action("DeleteCase", "EmpolyeeCases")'
    };

</script>
<script src="~/JS/Resources/CaseLog/EmployeeCaseLogJS.js"></script>