@model HRTool.Models.Resources.BenefitsEmployeeViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ResourcesLayout.cshtml";
}
<style>
    .stepContainer {
        height: 345px !important;
    }
</style>
<div id="page_content_inner">
    @*<h4 class="heading_a uk-margin-bottom">
        <div class="icon"><img src="~/Images/listicons/icn-documents.png" /></div>
        <div class="titletext">
            <div>
                Employee Benefits
                <p>
                    View employee benefits or upload a new one.
                </p>
            </div>
        </div>*@
    <h1 class="page-title">
        Employee Benefits
        <small>View employee benefits or upload a new one.</small>
    </h1>

        <div class="clearfix"></div>
    @*</h4>*@
    <div class="md-card">
        <div >
            <input type="hidden" value="@Model.EmployeeId" id="currntEmployeeId" />
            <div id="tableDiv">
                @Html.Action("List", "EmployeeBenefits", new { EmployeeId = Model.EmployeeId })
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var constantEmployeeBenifits = {
        addEdit: '@Url.Action("AddEditBenifits", "EmployeeBenefits")',
        ImageUrl: '@Url.Action("ImageData", "EmployeeBenefits")',
        SaveData: '@Url.Action("SaveData", "EmployeeBenefits")',
        DeleteData: '@Url.Action("DeleteData", "EmployeeBenefits")',
    };

</script>
<script src="~/JS/Resources/Benefit/EmployeeBenefitJS.js"></script>