@model HRTool.Models.Resources.EmployeeSkillsEndorsementViewModel


<div class="row marbot10">
    <div class="col-md-3">
        <label class="control-label" for="systemListName">Skill Set</label>
        <input type="hidden" value="@Model.Id" id="hdnGeneralID" />
    </div>
    <div class="col-md-6 dropdown-selectlist">
        <select class="form-control" id="drpGenerl">
            @foreach (var General in Model.GeneralList)
            {
                if (Model.Id > 0)
                {
                    if (General.Value.Contains(Model.Id.ToString()))
                    {
                        <option value="@General.Value" selected="selected">@General.Text</option>
                    }
                    else
                    {
                        <option value="@General.Value">@General.Text</option>
                    }
                }
                else
                {
                    <option value="@General.Value">@General.Text</option>
                }
            }

        </select>
    </div>
    <div class="col-md-3">
        <span class="field-validation-error" id="validationmessageTrainingId" data-valmsg-for="Name" data-valmsg-replace="true" style="display:none"></span>
    </div>
</div>


