@using Microsoft.AspNet.Identity
@model HRTool.Models.ManageUserViewModel
@{
    ViewBag.Title = "Index";
}
<div id="page_content_inner" style="margin: 5px 9px 6px -189px;">
    <h4 class="heading_a uk-margin-bottom">
        <div class="title_left" style="margin-left:200px">
            <h4 class="fa fa-key" style="color: #444;">Change Password</h4>
        </div>
        <div class="clearfix"></div>
    </h4>
    
            <div id="tableDiv" style="margin-left:189px">
                @using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken();
                    <div class="row marbot10">
                        <div class="form-group">
                            @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2" })
                            <div class="col-md-6" data-toggle="tooltip" data-placement="right" title="Old Password">
                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder = "Old Password" })
                            </div>
                            <div class="col-md-3">
                                @Html.ValidationMessageFor(m => m.OldPassword)
                                <label class="field-validation-error" id="errorCurrentPassword" style="display:none;"></label>
                            </div>
                        </div>
                    </div>

                    <div class="row marbot10">
                        <div class="form-group">
                            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2" })
                            <div class="col-md-6" data-toggle="tooltip" data-placement="right" title="Current Password">
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "New Password" })
                            </div>
                            <div class="col-md-3">
                                @Html.ValidationMessageFor(m => m.NewPassword)
                            </div>
                        </div>
                    </div>
                    <div class="row marbot10">
                        <div class="form-group">
                            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2" })
                            <div class="col-md-6" data-toggle="tooltip" data-placement="right" title="New Password">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
                            </div>
                            <div class="col-md-3">
                                @Html.ValidationMessageFor(m => m.ConfirmPassword)
                                <span for="ConfirmPassword" class="" id="errorConfirmpassword" style="color:red"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row marbot10">
                        <div class="form-group">
                            <label class="col-md-2"></label>
                            <div class="col-md-6">
                                <input type="submit" value="Update" class="btn btn-primary" />
                                <input type="submit" value="Cancel" class="btn btn-primary" />
                            </div>
                            <div class="col-md-3">
                                <span class="field-validation-error" id="validationmessageName" data-valmsg-for="Name" data-valmsg-replace="true" style="display:none"></span>
                            </div>
                        </div>
                    </div>
                }
            </div>
       
</div>
<div class="page-title">
    @if (!string.IsNullOrEmpty(ViewBag.message))
    {  <div class="toaster-content">
        <div class="toaster-msg toast-info" id="successMessage">
            <div class="icon"></div>
            @ViewBag.message
        </div>
    </div>
    }
    else if (!string.IsNullOrEmpty(ViewBag.message1))
    {
        <div class="toaster-content">
            <div class="toaster-msg toast-error" id="successMessage">
                <div class=" icon"></div>
                @ViewBag.message1
            </div>
        </div>
    }
</div>

<script>
    setTimeout(function () {
        $('#successMessage').fadeOut();
    }, 2000);
    $(document).ready(function () {
        $('#btnchange').click(function (event) {
            if ($('#NewPassword').val() != $('#ConfirmPassword').val()) {
                $("#errorConfirmpassword").show();
                $("#errorConfirmpassword").html("The password and confirmation password do not match")
                event.preventDefault();
            }
        });
    });
    $('#btncancle').click(function () {
        window.location.href = '@Url.Action("Index","Home")';
    })

</script>