@model HRTool.Models.Resources.MainResoureViewModel
<style type="text/css">
    #NewTaskList {
        min-height: 250px;
    }
</style>
<div id="NewTaskList">
    <input type="hidden" id="taskid" value="@Model.Id" />
    @foreach (var item in Model.NewsTasklistRecord)
    {
        <div class="col-md-3 NewtaskListrecord" data-id="@item.Id" id="NewTask_@item.Id">
            <div class="New">
                <input type="hidden" class="NewTitle" value="@item.Title">
                <input type="hidden" class="NewDiscrtion" value="@item.Description">
                <input type="hidden" class="Assignto" value="@item.Assign">
                <input type="hidden" class="DueDateto Datepiker" value="@item.DueDate">
                <input type="hidden" class="Statusto" value="@item.Status">
                <input type="hidden" class="AlertBefore" value="@item.AlertBeforeDays">
            <input type="hidden" id="Tempvalue" value="@item.IsTemp" />
            </div><div class="task-card">
                <div class="onerow">
                    <span><input type="checkbox" id="NewTaskcheckbox_@item.Id"></span>
                    <a><span data-toggle="modal" data-target="#AddNewTask" data-id="@item.Id" id="title_@item.Id" class="EditNewTask" style="cursor:pointer">@item.Title</span></a>
                    <p>@item.Description</p>
                    <div class="Deletetask">
                        @if (@item.Title == "Visa")
                        {
                        }
                        else if (@item.Title == "Certificate")
                        {
                        }
                        else
                        {
                            <a>
                                <span data-id="@item.Id" id="title_@item.Id" class="DeleteTaskrecord" style="cursor:pointer">Delete Task</span>
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div class="addNewTask-btn">
    <button type="button" class="btn btn-success" id="ShowAddNewTask" data-toggle="modal" data-target="#AddNewTask">Add New Task</button>
</div>
<div id="AddNewTask" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="segmentsBox">
                <div class="performance-grid">
                    <div class="">
                        <div class="modal-header">
                            <h4 class="modal-title">Add Task</h4>
                        </div>
                        <div class="modal-body" align="right" id="AddTaskbody">

                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success" id="btn-submit-AddNewTask">Add</button>
                            <button type="button" class="btn btn-warning" id="closeAddNewtask">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#ShowAddNewTask").click(function () {
        $("#AddNewTask").show();
    });
    $("#closeAddNewtask").click(function () {
        $("#AddNewTask").hide();
    });

    $("#tableDivResourceList").find(".EditNewTask").click(function () {
        
        var id = $(this).attr("data-id");
        $("#AddNewTask").show();
        $.ajax({
            url: '@Url.Action("EditTask", "Employee")',
            data: { Id: id },
            success: function (result) {
                $("#page_content").find('#tableDivResourceList').find("#AddTaskbody").html('');
                $("#page_content").find('#tableDivResourceList').find("#AddTaskbody").append(result);
                $("#page_content").find(".Datepiker").Zebra_DatePicker({
                    showButtonPanel: false,
                    format: 'd-m-Y',
                });
                $(".hrtoolLoader").hide();
                $(".modal-backdrop").hide();
                if (id > 0) {
                    $(".toast-info").show();
                    setTimeout(function () { $(".toast-info").hide(); }, 1500);
                }
                else {
                    $(".toast-success").show();
                    setTimeout(function () { $(".toast-success").hide(); }, 1500);
                }
            }
        });
    });

    $("#tableDivResourceList").find(".DeleteTaskrecord").click(function () {
        
        var id = $(this).attr("data-id");
        $.Zebra_Dialog(" are you sure want to Delete this Records!?", {
            'type': false,
            'title': 'Delete this Record',
            'width': 350,
            'buttons': [
                {
                    caption: 'Cancel',
                    callback: function () { }
                }, {
                    caption: 'Ok',
                    callback: function () {
                        
                        $.ajax({
                            url: '@Url.Action("DeteteTask", "Employee")',
                            data: { Id: id },
                            success: function (result) {
                                $("#MeOverviewLeaverTask").find('#AddMeOverViewBody').find("#step-5").html('');
                                $("#MeOverviewLeaverTask").find('#AddMeOverViewBody').find("#step-5").html(result);
                                if (id > 0) {
                                    $(".toast-info").show();
                                    setTimeout(function () { $(".toast-info").hide(); }, 1500);
                                }
                                else {
                                    $(".toast-success").show();
                                    setTimeout(function () { $(".toast-success").hide(); }, 1500);
                                }
                            }
                        });
                    }
                }]
        });

    });
</script>
