@model HRTool.Models.Resources.EmployeeProjectPlanner_UpliftViewModel

<div id="wizard" class="swMain">
    <ul class="tablistnew two">
        <li>
            <a href="#step-1" class="s1">
                <span>1</span> Detail
            </a>
        </li>
        <li>
            <a href="#step-2" class="s2">
                <span>2</span> Document
            </a>
        </li>
    </ul>
    <div id="step-1">
        <div class="row marbot10">
            <div class="col-md-3">
                <input type="hidden" value="@Model.Id" id="HiddenId" />
                <input type="hidden" value="@Model.yearId" id="HiddenYearId" />
                <input type="hidden" value="@Model.monthId" id="HiddenMonthId" />
                <input type="hidden" value="@Model.day" id="HiddendayId" />
                <label class="control-label" for="StatusList">Date *</label>
            </div>
            <div class="col-md-6">
                <input type="text" value="@Model.Date" id="txt_Date" class="form-control" />
            </div>
            <div class="col-md-3">
                <span class="field-validation-error" id="lbl-error-Date" style="display:none;" data-valmsg-for="StatusList" data-valmsg-replace="true">Date is required.</span>
            </div>
        </div>

        <div class="row marbot10">
            <label class="col-md-3">Uplift Position*</label>
            <div class="col-md-6 dropdown">
                <select class="form-control" id="drpJobTitle">
                    @foreach (var Job in Model.JobTitleList)
                    {
                        <option value="@Job.Value" @(Job.Value == Model.UpliftPostionId.ToString() ? "Selected" : "")>@Job.Text</option>
                    }
                </select>
            </div>
            <div class="col-md-3">
                <span class="field-validation-error" id="ValidJobTitle" data-valmsg-for="Title" data-valmsg-replace="true" style="display:none">Please Select Uplift Position.</span>
            </div>
        </div>

        <div class="row marbot10" id="Uplift_detail">
            @foreach (var item in Model.DetailList)
            {
                @Html.Partial("_partialAdd_Uplift_Detail", item);
            }
        </div>


        <div class="row marbot10">
            <div class="col-md-12">
                <input type="button" value="Add New" id="btn_AddNew_UpliftDetail" class="md-btn md-btn-primary" />
            </div>
        </div>

        <div class="row marbot10">
            <label class="col-md-3">Customer</label>

            <div class="col-md-6 dropdown">
                <input type="hidden" id="selectID" value="@Model.CustomerId" />
                <input type="text" class="awesomplete form-control" id="empNameText" value="@Model.Customer" size="70" placeholder="Employee Name" />

                @*<select class="form-control" id="drp-Customer">
                        @foreach (var Job in Model.CustomerList)
                        {
                            <option value="@Job.Value" @(Job.Value == Model.CustomerId.ToString() ? "Selected" : "")>@Job.Text</option>
                        }
                    </select>*@
            </div>
            <div class="col-md-3">
                <span class="field-validation-error" id="ValidJobTitle" data-valmsg-for="Title" data-valmsg-replace="true" style="display:none"></span>
            </div>
        </div>

        <div class="row marbot10">
            <label class="col-md-3">Project</label>
            <div class="col-md-6 dropdown">
                <select class="form-control" id="drp-Project">
                    @foreach (var Job in Model.ProjectList)
                    {
                        <option value="@Job.Value" @(Job.Value == Model.ProjectId.ToString() ? "Selected" : "")>@Job.Text</option>
                    }
                </select>
            </div>
            <div class="col-md-3">
                <span class="field-validation-error" id="ValidJobTitle" data-valmsg-for="Title" data-valmsg-replace="true" style="display:none"></span>
            </div>
        </div>

        <div class="row marbot10">
            <div class="col-md-3">
                <label class="control-label" for="StatusList">Total Time</label>
            </div>
            <div class="col-md-3">
                <input type="text" value="Today 00:00" readonly="readonly" />
            </div>
            <div class="col-md-3">
                <input type="text" value="This week 00:00" readonly="readonly" />
            </div>
            <div class="col-md-3">
                <input type="text" value="This month 00:00" readonly="readonly" />
            </div>

        </div>

        <div class="row marbot10">
            <div class="col-md-3">
                <label class="control-label" for="StatusList">Comments</label>
            </div>
            <div class="col-md-6">
                <textarea placeholder="Supporting Comments" id="text_Comments" class="form-control textarea-resizeNone">@Model.Comment</textarea>
            </div>
            <div class="col-md-3">
                <span class="field-validation-error" id="lbl-error-Comments" style="display:none;" data-valmsg-for="DateAwarded" data-valmsg-replace="true">Supporting Comments is required.</span>
            </div>
        </div>
    </div>

    <div id="step-2">
        <div class="browse-attach">
            <label type="file" for="UpliftFileToUpload" class="btn btn-sm btn-purple btn-upload md-btn-primary">
                <p>Drop docs,pdfs or images here or click to upload</p>
                <span class="btn">BROWSE</span>
            </label>
            <input type="file" id="UpliftFileToUpload" style="display: none">
        </div>

        <div id="filesList">
            @foreach (var item in Model.DocumentList)
            {
                <div class="row ListData"><div class="col-lg-1 icon"><i class="fa fa-paperclip"></i></div><div class="col-lg-10 attach-disc"><label class="fileName" data-newfilename="@item.newName">@item.originalName</label><br><input type="text" class="ImageDescription form-control" value="@item.description" placeholder="Add Description Here"></div><div class="col-lg-1 file-deleteicon"><i class="fa fa-trash-o"></i></div></div>
            }
        </div>
    </div>
</div>
<script>
        var getEmpployee = { getEmpData: '@Url.Action("getEmployee", "MeEmployeeProjectPlanner")', }
</script>
<script>
    var listData = [];
    test();
    function test() {
        var id = $("#currentEmployeeId").val();
        $.ajax({
            url: getEmpployee.getEmpData,
            data: { Id: id },
            success: function (data) {
                $.each(data.CustomerList, function (index, item) {
                    listData.push(item.Text);
                });
                debugger;

                var input = document.getElementById("empNameText");
                var awesomplete = new Awesomplete(input, {
                    minChars: 1,
                    maxItems: 5,
                    autoFirst: true,
                });
                awesomplete.list = listData;
                var value = '';
                var eid = '';
                $('#empNameText').change(function () {
                    value = $('#empNameText').val();
                    for (var i = 0; i < data.CustomerList.length; i++) {
                        if (value == data.CustomerList[i].Text) {
                            eid = data.CustomerList[i].Value;
                            break;
                        }
                    }
                    $("#selectID").val(eid);
                });
            }
        });
    }
    $("#drp-HourseListSDTimesheet").on("change", function ()
    {
            $("#lbl-error-InTime").hide();
      });
    $("#drp-MinutesListSDTimesheet").on("change", function () {
        $("#lbl-error-InTime").hide();
    });

    $("#drp-HourseListEDTimesheet").on("change", function () {
        $("#lbl-error-EndTime").hide();
    });
    $("#drp-MinutesListEDTimesheet").on("change", function () {
        
            $("#lbl-error-InTime").hide();
        
    });

</script>

