@model HRTool.Models.Admin.AdminCertificateIdViewModel
@{

}
<input type="hidden" value="@Model.Flag" id="IsCustomerHidden" />
    <div id="wizard" class="swMain">
        <input type="hidden" value="@Model.Id" id="HiddenId" />
        <ul class="tablistnew two">
            <li>
                <a href="#step-1" class="s1">
                    <span>1</span> Details
                </a>
            </li>
            <li>
                <a href="#step-2" class="s2">
                    <span>2</span> Document
                </a>
            </li>
        </ul>

        @*<ul class="nav nav-tabs">
                <li>
                    <a href="#step-1" class="s1">
                        <span>1</span> Details
                    </a>
                </li>
                <li>
                    <a href="#step-2" class="s2">
                        <span>2</span> Document
                    </a>
                </li>
            </ul>*@
        <div id="step-1">
            <div class="row marbot10">
                <div class="col-md-3">
                    <label class="control-label" for="StatusList">Name *</label>
                </div>
                <div class="col-md-6">
                    @if (Model.Flag == 1)
                    {
                        <input type="text" value="@Model.Name" id="txt_Name" class="form-control" readonly />
                    }
                    else
                    {
                        <input type="text" value="@Model.Name" id="txt_Name" class="form-control" />
                    }
                </div>
                <div class="col-md-3">
                    <span class="field-validation-error" id="lbl-error-Name" style="display:none;" data-valmsg-for="DateAwarded" data-valmsg-replace="true">Name is required.</span>
                </div>
            </div>

            <div class="row marbot10">
                <div class="col-md-3">
                    <label class="control-label" for="StatusList">Certificate Type *</label>
                </div>
                <div class="col-md-6">
                    @if (Model.Flag == 1)
                    {
                        <select i="drp-CertificateType" class="form-control" disabled>
                            @foreach (var item in Model.TypeList)
                            {
                                if (Model.TypeId.ToString() == item.Value)
                                {
                                    <option value=@item.Value selected="selected">@item.Text</option>
                                }
                                else
                                {
                                    <option value=@item.Value>@item.Text</option>
                                }
                            }
                        </select>
                    }
                    else
                    {
                        <select id="drp-CertificateType" class="form-control">
                            @foreach (var item in Model.TypeList)
                            {
                                if (Model.TypeId.ToString() == item.Value)
                                {
                                    <option value=@item.Value selected="selected">@item.Text</option>
                                }
                                else
                                {
                                    <option value=@item.Value>@item.Text</option>
                                }
                            }
                        </select>
                    }
                </div>
                <div class="col-md-3">
                    <span class="field-validation-error" id="lbl-error-CertificateType" style="display:none;" data-valmsg-for="StatusList" data-valmsg-replace="true">Certificate Type is required.</span>
                </div>
            </div>

            <div class="row marbot10">
                <div class="col-md-3">
                    <label class="control-label" for="StatusList">Body *</label>
                </div>
                <div class="col-md-6">
                    @if (Model.Flag == 1)
                    {
                        <input type="text" value="@Model.Body" id="txt_Body" class="form-control" readonly />
                    }
                    else
                    {
                        <input type="text" value="@Model.Body" id="txt_Body" class="form-control" />
                    }
                </div>
                <div class="col-md-3">
                    <span class="field-validation-error" id="lbl-error-Body" style="display:none;" data-valmsg-for="DateAwarded" data-valmsg-replace="true">Body is required.</span>
                </div>
            </div>

            <div class="row marbot10">
                <div class="col-md-3">
                    <label class="control-label" for="StatusList">Number *</label>
                </div>
                <div class="col-md-6">
                    @if (Model.Flag == 1)
                    {
                        <input type="number" value="@Model.Number" id="txt_Number" min="0" class="form-control" readonly />
                    }
                    else
                    {
                        <input type="number" value="@Model.Number" id="txt_Number" min="0" class="form-control" />
                    }
                </div>
                <div class="col-md-3">
                    <span class="field-validation-error" id="lbl-error-Number" style="display:none;" data-valmsg-for="DateAwarded" data-valmsg-replace="true">Number is required.</span>
                </div>
            </div>

            <div class="row marbot10">
                <div class="col-md-3">
                    <label class="control-label" for="StatusList">Assign To *</label>
                </div>
                <div class="col-md-6">
                    @if (Model.Flag == 1)
                    {
                        <input type="hidden" id="AssignToID" value="@Model.AssignToId" readonly />
                        <input type="text" class="awesomplete form-control" id="AssignToEmployeName" value="@Model.AssignToEmployeeName" size="70" placeholder="Employee Name" readonly />
                    }
                    else
                    {
                        <input type="hidden" id="AssignToID" value="@Model.AssignToId" />
                        <input type="text" class="awesomplete form-control" id="AssignToEmployeeName" value="@Model.AssignToEmployeeName" size="70" placeholder="Employee Name" />
                    }
                    @*<select id="drp-AssignTo" class="form-control">
                            @foreach (var item in Model.AssignToList)
                            {
                                if (Model.AssignToId == Convert.ToInt32(item.Value))
                                {
                                    <option value=@item.Value selected="selected">@item.Text</option>
                                }
                                else
                                {
                                    <option value=@item.Value>@item.Text</option>
                                }
                            }
                        </select>*@
                </div>
                <div class="col-md-3">
                    <span class="field-validation-error" id="lbl-error-AssignTo" style="display:none;" data-valmsg-for="StatusList" data-valmsg-replace="true">Assign To is required.</span>
                </div>
            </div>

            <div class="row marbot10">
                <div class="col-md-3">
                    <label class="control-label" for="StatusList">In Relation To *</label>
                </div>
                <div class="col-md-6">
                    @if (Model.Flag == 1)
                    {
                        <input type="hidden" id="InRelationTo" value="@Model.InRelationToId" />
                        <input type="text" class="awesomplete form-control" id="InRelationToEmployeeName" value="@Model.AssignInRelationTo" size="70" placeholder="Employee Name" readonly />
                    }
                    else
                    {
                        <input type="hidden" id="InRelationTo" value="@Model.InRelationToId" />
                        <input type="text" class="awesomplete form-control" id="InRelationToEmployeeName" value="@Model.AssignInRelationTo" size="70" placeholder="Employee Name" />
                    }
                    @*<select id="drp-InRelationTo" class="form-control">
                            @foreach (var item in Model.InRelationToList)
                            {
                                if (Model.InRelationToId == Convert.ToInt32(item.Value))
                                {
                                    <option value=@item.Value selected="selected">@item.Text</option>
                                }
                                else
                                {
                                    <option value=@item.Value>@item.Text</option>
                                }
                            }
                        </select>*@
                </div>
                <div class="col-md-3">
                    <span class="field-validation-error" id="lbl-error-InRelationTo" style="display:none;" data-valmsg-for="StatusList" data-valmsg-replace="true">In Relation To is required.</span>
                </div>
            </div>

            <div class="row marbot10">
                <div class="col-md-3">
                    <label class="control-label" for="StatusList">Valid From *</label>
                </div>
                <div class="col-md-6">
                    @if (Model.Flag == 1)
                    {
                        <input type="text" value="@Model.ValidFrom" id="txt_ValidFrom" class="form-control" readonly />
                    }
                    else
                    {
                        <input type="text" value="@Model.ValidFrom" id="txt_ValidFrom" class="form-control" />
                    }
                </div>
                <div class="col-md-3">
                    <span class="field-validation-error" id="lbl-error-ValidFrom" style="display:none;" data-valmsg-for="ExpiryDate" data-valmsg-replace="true">Valid From date is required.</span>
                </div>
            </div>

            <div class="row marbot10">
                <div class="col-md-3">
                    <label class="control-label" for="StatusList">Expiring Date *</label>
                </div>
                <div class="col-md-6">
                    @if (Model.Flag == 1)
                    {
                        <input type="text" value="@Model.ExpiryDate" id="txt_ExpiryDate" class="form-control" readonly />
                    }
                    else
                    {
                        <input type="text" value="@Model.ExpiryDate" id="txt_ExpiryDate" class="form-control" />
                    }

                </div>
                <div class="col-md-3">
                    <span class="field-validation-error" id="lbl-error-ExpiryDate" style="display:none;" data-valmsg-for="ExpiryDate" data-valmsg-replace="true">Expiry Date is required.</span>
                    <span class="field-validation-error" id="lbl-error-GreaterEndDate" style="display:none;" data-valmsg-for="ExpiryDate" data-valmsg-replace="true">Please Select Valid ExpiringDate.</span>
                </div>
            </div>

            <div class="row marbot10">
                <div class="col-md-3">
                    <label class="control-label" for="StatusList">Status</label>
                </div>
                <div class="col-md-6">
                    @if (Model.Flag == 1)
                    {
                        <select id="drp-Status" class="form-control" disabled>
                            @foreach (var item in Model.StatusList)
                            {
                                if (Model.StatusId.ToString() == item.Value)
                                {
                                    <option value=@item.Value selected="selected">@item.Text</option>
                                }
                                else
                                {
                                    <option value=@item.Value>@item.Text</option>
                                }
                            }
                        </select>
                    }
                    else
                    {
                        <select id="drp-Status" class="form-control">
                            @foreach (var item in Model.StatusList)
                            {
                                if (Model.StatusId.ToString() == item.Value)
                                {
                                    <option value=@item.Value selected="selected">@item.Text</option>
                                }
                                else
                                {
                                    <option value=@item.Value>@item.Text</option>
                                }
                            }
                        </select>
                    }

                </div>
                <div class="col-md-3">

                </div>
            </div>

            <div class="row marbot10">
                <div class="col-md-3">
                    <label class="control-label" for="StatusList">Alert Before Days</label>
                </div>
                <div class="col-md-6">
                    @if (Model.Flag == 1)
                    {
                        <input type="number" value="@Model.AlertBeforeDays" id="txt_AlertBeforeDays" min="0" class="form-control" readonly />
                    }
                    else
                    {
                        <input type="number" value="@Model.AlertBeforeDays" id="txt_AlertBeforeDays" min="0" class="form-control" />
                    }
                </div>
                <div class="col-md-3">

                </div>
            </div>

            <div class="row marbot10">
                <div class="col-md-3">
                    <label class="control-label" for="StatusList">Mandatory</label>
                </div>
                <div class="col-md-6">
                    @if (Model.Flag == 1)
                    {
                        if (Model.Mandatory)
                        {
                            <input type="checkbox" id="chk_Mandatory" checked="checked" disabled />
                        }
                        else
                        {
                            <input type="checkbox" id="chk_Mandatory" disabled />
                        }
                    }
                    else
                    {
                        if (Model.Mandatory)
                        {
                            <input type="checkbox" id="chk_Mandatory" checked="checked" />
                        }
                        else
                        {
                            <input type="checkbox" id="chk_Mandatory" />
                        }
                    }

                </div>
                <div class="col-md-3">

                </div>
            </div>

            <div class="row marbot10">
                <div class="col-md-3">
                    <label class="control-label" for="StatusList">Validate</label>
                </div>
                <div class="col-md-6">
                    @if (Model.Flag == 1)
                    {
                        if (Model.Validate)
                        {
                            <input type="checkbox" id="chk_Validate" checked="checked" disabled />
                        }
                        else
                        {
                            <input type="checkbox" id="chk_Validate" disabled />
                        }
                    }
                    else
                    {
                        if (Model.Validate)
                        {
                            <input type="checkbox" id="chk_Validate" checked="checked" />
                        }
                        else
                        {
                            <input type="checkbox" id="chk_Validate" />
                        }
                    }

                </div>
                <div class="col-md-3">

                </div>
            </div>

            <div class="row marbot10">
                <div class="col-md-3">
                    <label class="control-label" for="StatusList">Description</label>
                </div>
                <div class="col-md-6">
                    @if (Model.Flag == 1)
                    {
                        <textarea id="textArea_Description" class="form-control textarea-resizeNone" readonly>@Model.Description</textarea>
                    }
                    else
                    {
                        <textarea id="textArea_Description" class="form-control textarea-resizeNone">@Model.Description</textarea>
                    }
                </div>
                <div class="col-md-3">
                </div>
            </div>

        </div>

        <div id="step-2">
            @if (Model.Flag == 1)
            {
                <div class="browse-attach">
                    <label type="file" for="fileToUpload" class="btn btn-sm btn-purple btn-upload md-btn-primary">


                    </label>
                    <input type="file" id="fileToUpload" accept=".jpg,.jpeg,.bmp,.png" style="display: none">
                </div>

                <div id="filesList">
                    @foreach (var item in Model.DocumentList)
                {
                        <div class="row ListData">
                            <div class="col-lg-1 icon">
                                <i class="fa fa-paperclip"></i>
                            </div>
                            <div class="col-lg-10 attach-disc">
                                <label class="fileName" data-newfilename="@item.newName">@item.originalName</label><br>
                                <input type="text" class="ImageDescription form-control" value="@item.description" placeholder="Add Description Here">
                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                <div class="browse-attach">
                    <label type="file" for="fileToUpload" class="btn btn-sm btn-purple btn-upload md-btn-primary">
                        <p>Drop docs,pdfs or images here or click to upload</p>
                        <span class="btn">BROWSE</span>
                    </label>
                    <input type="file" id="fileToUpload" accept=".jpg,.jpeg,.bmp,.png" style="display: none">
                </div>

                <div id="filesList">
                    @foreach (var item in Model.DocumentList)
                {
                        <div class="row ListData">
                            <div class="col-lg-1 icon">
                                <i class="fa fa-paperclip"></i>
                            </div>
                            <div class="col-lg-10 attach-disc">
                                <label class="fileName" data-newfilename="@item.newName">@item.originalName</label><br><input type="text" class="ImageDescription form-control" value="@item.description" placeholder="Add Description Here">
                            </div><div class="col-lg-1 file-deleteicon">
                                <i class="fa fa-trash-o"></i>
                            </div>
                        </div>
                    }
                </div>
            }

        </div>
    </div>
<script>
    var cVarCertificate = {
        getEmpData: '@Url.Action("getEmployeeData", "AdminCertificate")',
    }
</script>
<script>
    $("#txt_AlertBeforeDays").keypress(function (event) {
        if (event.which != 8 && event.which != 0 && (event.which < 48 || event.which > 57)) {
            return false;
        }
    });    
    $("#txt_Number").keypress(function (event) {
        if (event.which != 8 && event.which != 0 && (event.which < 48 || event.which > 57)) {
            return false;
        }
    });
    searchCopyFrom();
    function searchCopyFrom() {
        var listAssignTo = [];
        var InRelationTo = [];
        $.ajax({
            url: cVarCertificate.getEmpData,
            data: {},
            success: function (data) {
                debugger;
                
                $.each(data.AssignToList, function (index, item) {
                    listAssignTo.push(item.Text);
                });
                $.each(data.InRelationToList, function (index, item) {
                    InRelationTo.push(item.Text);
                });
                var input = document.getElementById("AssignToEmployeeName");
                var awesomplete = new Awesomplete(input, {
                    minChars: 1,
                    maxItems: 5,
                    autoFirst: true,
                });
                awesomplete.list = listAssignTo;
                $("#AssignToEmployeeName").change(function () {
                    $("#lbl-error-AssignTo").hide();
                    value = $("#AssignToEmployeeName").val();
                    for (var i = 0; i < data.AssignToList.length; i++) {
                        if (value == data.AssignToList[i].Text) {
                            var eid = data.AssignToList[i].Value;
                            break;
                        }
                        else {
                            eid = '';
                        }
                    }
                    $("#AssignToID").val(eid);
                });

                var inputInrelationTo = document.getElementById("InRelationToEmployeeName");
                var awesompleteInRelationTo = new Awesomplete(inputInrelationTo, {
                    minChars: 1,
                    maxItems: 5,
                    autoFirst: true,
                });
                awesompleteInRelationTo.list = InRelationTo;
                $("#InRelationToEmployeeName").change(function () {
                    $("#lbl-error-InRelationTo").hide();
                    valueIn = $("#InRelationToEmployeeName").val();
                    for (var i = 0; i < data.InRelationToList.length; i++) {
                        if (valueIn == data.InRelationToList[i].Text) {
                            var eidIn = data.InRelationToList[i].Value;
                            break;
                        }
                        else {
                            eidIn = '';
                        }
                    }
                    $("#InRelationTo").val(eidIn);
                });

            }
        });
    }
</script>
