@model HRTool.Models.Resources.AddSalaryDeductionViewModel

<input type="hidden" id="SalaryDeductionIDTemp" value="@Model.Id" />
<input type="hidden"  id="SalaryIdTemp" value="@Model.EmployeeSalaryID" />
<input type="hidden" id="EmployeeTotalSalaryTemp" value="@Model.TotalSalary" />


<div class="row marbot10">
    <div class="col-md-3">
        <label class="control-label" for="DeductionList">Deduction*</label>
    </div>
    <div class="col-md-6">
        <select id="drp-SalaryDeductionTemp">
            @foreach (var items in Model.SalaryTypeList)
            {
                if (Model.DeductionID.ToString() == items.Value)
                {
                    <option class="SelectStepIDs" selected="selected" id="@items.Value" value="@items.Value">@items.Text</option>
                }
                else
                {
                    <option class="SelectStepIDs" id="@items.Value" value="@items.Value">@items.Text</option>
                }
            }
        </select>
    </div>
    <div class="col-md-3">
        <span class="field-validation-error" id="lbl-error-DeductionList" style="display:none;" data-valmsg-for="DeductionList" data-valmsg-replace="true">The Deduction is required.</span>
    </div>

</div>

<div class="row marbot10">
    <div class="col-md-3">
        <label class="control-label" for="TotalSalaryPercentageDTemp">Display as amount or %</label>
    </div>
    <div class="col-md-6 dropdown" data-toggle="tooltip">
        <input type="checkbox" id="check_IncludeSalaryPercentageDTemp" />
    </div>
    <div class="col-md-3">
        <span class="field-validation-error" id="validationmessageTotalSalaryPercentage" data-valmsg-for="TotalSalaryPercentageDTemp" data-valmsg-replace="true" style="display:none"></span>
    </div>
</div>


<div class="row marbot10">
    <div class="form-group">
        <label class="control-label col-md-3">Fixed Amount*</label>
        <div class="col-md-3">
            <input type="number" min="0" class="form-control mrg-btm" id="FixedAmountTemp" placeholder="Fixed Amount" value="@Model.FixedAmount" data-toggle="tooltip" data-placement="right" name="FixedAmount" title="Fixed Amount">
        </div>
        <div class="col-md-3 dropdown" data-toggle="tooltip">
            <label id="CurrencyType">@Model.SalaryType</label>
        </div>
        <div class="col-md-3">
            <span class="field-validation-error" id="validationmessageFixedAmount" data-valmsg-for="FixedAmount" data-valmsg-replace="true" style="display:none"></span>
        </div>
    </div>
</div>

<div class="row marbot10">
    <div class="form-group">
        <label class="control-label col-md-3">% of Salary*</label>
        <div class="col-md-3">
            <input type="number" class="txt_Percent_pad" readonly="readonly" id="txt_PercentOfSalaryTemp" value="@Model.PercentOfSalary" data-toggle="tooltip" data-placement="right" placeholder="% Of Salary" name="PercentOfSalary" title="Percent Of Salary" />
        </div>
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
            <span class="field-validation-error" id="validationmessagePercentOfSalary" data-valmsg-for="PercentOfSalary" data-valmsg-replace="true" style="display:none"></span>
        </div>
    </div>
</div>

<div class="row marbot10">
<div class="col-md-3">
    <label class="control-label" for="TotalSalaryIncude">Include in Total Salary*</label>
</div>
<div class="col-md-6 dropdown" data-toggle="tooltip">
    @if (Model.IncludeInSalary == true)
{
    <input type="checkbox" id="check_IncludeSalaryTemp" checked="checked" value="@Model.IncludeInSalary" />
}
    else
    {
        <input type="checkbox" id="check_IncludeSalaryTemp" value="@Model.IncludeInSalary" />
    }
    
</div>
<div class="col-md-3">
    <span class="field-validation-error" id="validationmessageTotalSalaryIncude" data-valmsg-for="TotalSalaryIncude" data-valmsg-replace="true" style="display:none"></span>
</div>
</div>

<div class="row marbot10">
    <div class="form-group">
        <label class="control-label col-md-3">Comments</label>
        <div class="col-md-6">
            <textarea class="form-control mrg-btm datepicker textarea-resizeNone" id="CommentsTemp" data-toggle="tooltip" data-placement="right" placeholder="Comments" name="Comments" title="Any further comments">@Model.Comments</textarea>
        </div>
        <div class="col-md-3">
            <span class="field-validation-error" id="validationmessagefromdate" data-valmsg-for="fromdate" data-valmsg-replace="true" style="display:none"></span>
        </div>
    </div>
</div>
