@model HRTool.Models.Settings.CustomerCompanyViewModel

<div id="wizard" class="swMain">
    <input type="hidden" value="@Model.Id" id="CustomerCompanyId" />
    <ul class="tablistnew three">
        <li>
            <a href="#step-1" class="s1">
                <span>1</span>Company Info
            </a>
        </li>
        <li>
            <a href="#step-2" class="s2">
                <span>2</span>Profile
            </a>
        </li>
        <li>
            <a href="#step-3" class="s3">
                <span>3</span>Bank Details
            </a>
        </li>
    </ul>
   <div id="step-1">

        <div class="row marbot10">
            <div class="col-md-3">
                <label class="control-label" for="CompanyName">Customer Company Name*</label>
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" id="txt_CompanyName" value="@Model.CompanyName" data-toggle="tooltip" data-placement="right" name="CompanyName" title="Company Name" required>
            </div>
            <div class="col-md-3">
                <span class="field-validation-error" id="lbl-error-CompanyName" style="display:none;" data-valmsg-for="CompanyName" data-valmsg-replace="true">The Company Name is required.</span>
            </div>
        </div>

        <div class="row marbot10">
            <div class="col-md-3">
                <label class="control-label" for="ShortName">Customer Short Name</label>
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" id="txt_ShortName" value="@Model.ShortName" data-toggle="tooltip" data-placement="right" name="ShortName" title="Short Name" required>
            </div>
            <div class="col-md-3">
                <span class="field-validation-error" id="lbl-error-ShortName" style="display:none;" data-valmsg-for="ShortName" data-valmsg-replace="true">The Short Name is required.</span>
            </div>
        </div>

        <div class="row marbot10">
            <div class="col-md-3">
                <label class="control-label" for="ParentCompany">Customer Parent Company</label>
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" id="txt_ParentCompany" value="@Model.ParentCompany" data-toggle="tooltip" data-placement="right" name="ParentCompany" title="Parent Company" required>
            </div>
            <div class="col-md-3">
                <span class="field-validation-error" id="lbl-error-ParentCompany" style="display:none;" data-valmsg-for="ParentCompany" data-valmsg-replace="true">The Parent Company Name is required.</span>
            </div>
        </div>

        <div class="row marbot10">
            <div class="col-md-3">
                <label class="control-label" for="Website">Website</label>
            </div>
            <div class="col-md-6">
                <input type="url" class="form-control" id="txt_Website" value="@Model.Website" data-toggle="tooltip" data-placement="right" name="Website" title="Website">
            </div>
            <div class="col-md-3">
                <span class="field-validation-error" id="lbl-error-Website" style="display:none;" data-valmsg-for="Website" data-valmsg-replace="true">The Website is required.</span>
                <span class="field-validation-error" id="lbl-error-WebsiteValid" style="display:none;" data-valmsg-for="Website" data-valmsg-replace="true">This Website is Not Valid.</span>
            </div>
        </div>

        <div class="row marbot10">
            <div class="col-md-3">
                <label class="control-label" for="CustomerCurrency">Customer Currency</label>
            </div>
            <div class="col-md-6">
                <select class="form-control" id="drpCurrency">
                    @foreach (var Currency in Model.CurrencyList)
                    {
                        if (Model.CurrencyID.ToString() == Currency.Value)
                        {
                    <option value="@Currency.Value" selected="selected">@Currency.Text</option>
                        }
                        else
                        {
                    <option value="@Currency.Value">@Currency.Text</option>
                        }

                    }
                </select>

            </div>
            <div class="col-md-3">
                <span class="field-validation-error" id="lbl-error-CustomerCurrency" style="display:none;" data-valmsg-for="CustomerCurrency" data-valmsg-replace="true">Customer Currency is required.</span>
            </div>
        </div>

        <div class="row marbot10">
            <div class="col-md-3">
                <label class="control-label" for="CustomerNumber">Customer Number</label>
            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" id="txt_CustomerNumber" value="@Model.CustomerNumber" data-toggle="tooltip" data-placement="right" name="CustomerNumber" title="Customer Number" required onchange="chkForSSO()">
            </div>
            <div class="col-md-3">
                <span class="field-validation-error" id="ValidSSONo" data-valmsg-for="Title" data-valmsg-replace="true" style="display:none">SSO Number Already Exist.</span>

            </div>
        </div>

        <div class="row marbot10">
            <div class="col-md-3">
                <label class="control-label" for="PhoneNumber">Phone Number</label>
            </div>
            <div class="col-md-6">
                <input type="number" class="form-control" id="txt_PhoneNumber" value="@Model.PhoneNumber" data-toggle="tooltip" data-placement="right" name="PhoneNumber" title="Phone Number" min="0" required>
            </div>
            <div class="col-md-3">
                <span class="field-validation-error" id="lbl-error-PhoneNumber" style="display:none;" data-valmsg-for="PhoneNumber" data-valmsg-replace="true">The Phone Number is required.</span>
            </div>
        </div>

        <div class="row marbot10">
            <div class="col-md-3">
                <label class="control-label" for="Email">Email*</label>
            </div>
            <div class="col-md-6">
                <input type="email" class="form-control" id="txt_Email" value="@Model.Email" data-toggle="tooltip" data-placement="right" name="Email" title="Email" required>
            </div>
            <div class="col-md-3">
                <span class="field-validation-error" id="lbl-error-Email" style="display:none;" data-valmsg-for="Email" data-valmsg-replace="true">The Valid Email is required.</span>
                <span class="field-validation-error" id="lbl-error-EmailExist" style="display:none;" data-valmsg-for="Email" data-valmsg-replace="true">This Email is AllReady Exist.</span>
                <span class="field-validation-error" id="lbl-error-EmailValid" style="display:none;" data-valmsg-for="Email" data-valmsg-replace="true">This Email is Not Valid.</span>
            </div>
        </div>

        <div class="row marbot10">
            <div class="col-md-3">
                <label class="control-label" for="SecondaryPhoneNumber">Secondary Phone Number</label>
            </div>
            <div class="col-md-6">
                <input type="number" class="form-control" id="txt_SecondaryPhoneNumber" value="@Model.SecondaryPhoneNumber" data-toggle="tooltip" data-placement="right" name="SecondaryPhoneNumber" title="Secondary Phone Number" required>
            </div>
            <div class="col-md-3">
                <span class="field-validation-error" id="lbl-error-SecondaryPhoneNumber" style="display:none;" data-valmsg-for="SecondaryPhoneNumber" data-valmsg-replace="true">The Secondary Phone Number is required.</span>
            </div>
        </div>

        <div class="row marbot10">
            <div class="col-md-3">
                <label class="control-label" for="BusinessAddress">Business Address</label>
            </div>
            <div class="col-md-6">
                <textarea name="BusinessAddress" class="form-control textarea-resizeNone" id="txt_BusinessAddress" data-toggle="tooltip" data-placement="right" title="Business Address">@Model.BusinessAddress</textarea>
            </div>
            <div class="col-md-3">
                <span class="field-validation-error" id="lbl-error-BusinessAddress" data-valmsg-for="BusinessAddress" data-valmsg-replace="true" style="display:none">The Business Address is required.</span>
            </div>
        </div>

        <div class="row marbot10">
            <div class="col-md-3">
                <label class="control-label" for="MailingAddress">Mailing Address</label>
            </div>
            <div class="col-md-6">
                <textarea name="MailingAddress" class="form-control textarea-resizeNone" id="txt_MailingAddress" data-toggle="tooltip" data-placement="right" title="Mailing Address">@Model.MailingAddress</textarea>
            </div>
            <div class="col-md-3">
                <span class="field-validation-error" id="lbl-error-MailingAddress" data-valmsg-for="MailingAddress" data-valmsg-replace="true" style="display:none">The Mailing Address is required.</span>
            </div>
        </div>

        <div class="row marbot10">
            <div class="col-md-3">
                <label class="control-label" for="CompanyLogo">Upload Company Logo</label>
            </div>
            <div class="col-md-3">
                <label class="uploadBrowse" id="CompanyLogo">@Model.OriginalCompanyLogo</label>
                <input type="hidden" id="txt_CompanyLogo" value="@Model.CompanyLogo" />
            </div>
            <div class="col-md-3 text-right">
                <label typeof="file" for="fileToUpload" class="btn btn-success md-btn-small">BROWSE</label>
                <input type="file" id="fileToUpload" style="display: none">

            </div>
            <div class="col-md-3">
                <span class="field-validation-error" id="lbl-error-CompanyLogo" style="display:none;" data-valmsg-for="CompanyLogo" data-valmsg-replace="true">The Company Logo is required.</span>
            </div>

        </div>

        <div class="row marbot10">
            <div class="col-md-3">
                <label class="control-label" for="GeneralNotes">General Notes</label>
            </div>
            <div class="col-md-6">
                <textarea name="GeneralNotes" class="form-control textarea-resizeNone" id="txt_GeneralNotes" data-toggle="tooltip" data-placement="right" title="General Notes">@Model.GeneralNotes</textarea>
            </div>
            <div class="col-md-3">
                <span class="field-validation-error" id="lbl-error-GeneralNotes" data-valmsg-for="GeneralNotes" data-valmsg-replace="true" style="display:none">The General Notes is required.</span>
            </div>
        </div>
        </div>

   <div id="step-2">

            <div class="row marbot10">
                <div class="col-md-3">
                    <label class="control-label" for="VAT_GST_Number">VAT/GST No*</label>
                </div>
                <div class="col-md-6">
                    <input type="number" min="0" class="form-control" id="txt_VAT_GST_Number" value="@Model.VAT_GST_Number" data-toggle="tooltip" data-placement="right" name="VAT_GST_Number" title="VAT/GST No">
                </div>
                <div class="col-md-3">
                    <span class="field-validation-error" id="lbl-error-VAT_GST_Number" style="display:none;" data-valmsg-for="VAT_GST_Number" data-valmsg-replace="true">The VAT/GST Number is required.</span>
                </div>
            </div>

            <div class="row marbot10">
                <div class="col-md-3">
                    <label class="control-label" for="CreditLimit">Credit Limit*</label>
                </div>
                <div class="col-md-6">
                    <input type="number" min="0" class="form-control" id="txt_CreditLimit" value="@Model.CreditLimit" data-toggle="tooltip" data-placement="right" name="CreditLimit" title="Credit Limit">
                </div>
                <div class="col-md-3">
                    <span class="field-validation-error" id="lbl-error-CreditLimit" style="display:none;" data-valmsg-for="CreditLimit" data-valmsg-replace="true">The Credit Limit is required.</span>
                </div>
            </div>

            <div class="row marbot10">
                <div class="col-md-3">
                    <label class="control-label" for="PaymentTerms">Payment Terms*</label>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="txt_PaymentTerms" value="@Model.PaymentTerms" data-toggle="tooltip" data-placement="right" name="PaymentTerms" title="Payment Terms" required>
                </div>
                <div class="col-md-3">
                    <span class="field-validation-error" id="lbl-error-PaymentTerms" style="display:none;" data-valmsg-for="PaymentTerms" data-valmsg-replace="true">The Payment Terms is required.</span>
                </div>
            </div>

            <div class="row marbot10">
                <div class="col-md-3">
                    <label class="control-label" for="CreditStatus">Credit Status</label>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="txt_CreditStatus" value="@Model.CreditStatus" data-toggle="tooltip" data-placement="right" name="CreditStatus" title="Credit Status" required>
                </div>
                <div class="col-md-3">
                    <span class="field-validation-error" id="lbl-error-CreditStatus" style="display:none;" data-valmsg-for="CreditStatus" data-valmsg-replace="true">The Credit Status is required.</span>
                </div>
            </div>

            <div class="row marbot10">
                <div class="col-md-3">
                    <label class="control-label" for="SalesRegions">Sales Regions</label>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="txt_SalesRegions" value="@Model.SalesRegions" data-toggle="tooltip" data-placement="right" name="SalesRegions" title="Sales Regions" required>
                </div>
                <div class="col-md-3">
                    <span class="field-validation-error" id="lbl-error-SalesRegions" style="display:none;" data-valmsg-for="SalesRegions" data-valmsg-replace="true">The Sales Regions is required.</span>
                </div>
            </div>

            <div class="row marbot10">
                <div class="col-md-3">
                    <label class="control-label" for="TaxGroup">Tax Group</label>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="txt_TaxGroup" value="@Model.TaxGroup" data-toggle="tooltip" data-placement="right" name="TaxGroup" title="Tax Group" required>
                </div>
                <div class="col-md-3">
                    <span class="field-validation-error" id="lbl-error-TaxGroup" style="display:none;" data-valmsg-for="TaxGroup" data-valmsg-replace="true">The Company Name is required.</span>
                </div>
            </div>

        </div>

   <div id="step-3">

            <div class="row marbot10">
                <div class="col-md-3">
                    <label class="control-label" for="BankName">Bank Name</label>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="txt_BankName" value="@Model.BankName" data-toggle="tooltip" data-placement="right" name="BankName" title="Bank Name" required>
                </div>
                <div class="col-md-3">
                    <span class="field-validation-error" id="lbl-error-BankName" style="display:none;" data-valmsg-for="BankName" data-valmsg-replace="true">The Bank Name is required.</span>
                </div>
            </div>

            <div class="row marbot10">
                <div class="col-md-3">
                    <label class="control-label" for="BankSortCode">Bank Sort Code</label>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="txt_BankSortCode" value="@Model.BankSortCode" data-toggle="tooltip" data-placement="right" name="BankSortCode" title="Bank Sort Code" required>
                </div>
                <div class="col-md-3">
                    <span class="field-validation-error" id="lbl-error-BankSortCode" style="display:none;" data-valmsg-for="BankSortCode" data-valmsg-replace="true">The Bank Sort Code is required.</span>
                </div>
            </div>

            <div class="row marbot10">
                <div class="col-md-3">
                    <label class="control-label" for="AccountNumber">Account Number</label>
                </div>
                <div class="col-md-6">
                    <input type="number" class="form-control" id="txt_AccountNumber" value="@Model.AccountNumber" data-toggle="tooltip" data-placement="right" name="AccountNumber" title="Account Number" required>
                </div>
                <div class="col-md-3">
                    <span class="field-validation-error" id="lbl-error-AccountNumber" style="display:none;" data-valmsg-for="AccountNumber" data-valmsg-replace="true">The Account Number is required.</span>
                </div>
            </div>

            <div class="row marbot10">
                <div class="col-md-3">
                    <label class="control-label" for="IBAN">IBAN</label>
                </div>
                <div class="col-md-6">
                    <textarea name="IBAN" class="form-control textarea-resizeNone" id="txt_IBAN" data-toggle="tooltip" data-placement="right" title="Other Account Information">@Model.IBAN</textarea>
                </div>
                <div class="col-md-3">
                    <span class="field-validation-error" id="lbl-error-IBAN" data-valmsg-for="IBAN" data-valmsg-replace="true" style="display:none">The IBAN is required.</span>
                </div>
            </div>

            <div class="row marbot10">
                <div class="col-md-3">
                    <label class="control-label" for="AccountName">Account Name</label>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" id="txt_AccountName" value="@Model.AccountName" data-toggle="tooltip" data-placement="right" name="AccountName" title="Account Name" required>
                </div>
                <div class="col-md-3">
                    <span class="field-validation-error" id="lbl-error-AccountName" style="display:none;" data-valmsg-for="AccountName" data-valmsg-replace="true">The Account Name is required.</span>
                </div>
            </div>

            <div class="row marbot10">
                <div class="col-md-3">
                    <label class="control-label" for="BankAddress">Address</label>
                </div>
                <div class="col-md-6">
                    <textarea name="BankAddress" class="form-control textarea-resizeNone" id="txt_BankAddress" data-toggle="tooltip" data-placement="right" title="Address">@Model.BankAddress</textarea>
                </div>
                <div class="col-md-3">
                    <span class="field-validation-error" id="lbl-error-BankAddress" data-valmsg-for="BankAddress" data-valmsg-replace="true" style="display:none">The Bank Address is required.</span>
                </div>
            </div>
        </div>
 </div>
<script>
    $("#txt_PhoneNumber").keypress(function (event) {
        if (event.which != 8 && event.which != 0 && (event.which < 48 || event.which > 57)) {
            return false;
        }
    });
    $("#txt_SecondaryPhoneNumber").keypress(function (event) {
        if (event.which != 8 && event.which != 0 && (event.which < 48 || event.which > 57)) {
            return false;
        }
    });
    $("#txt_VAT_GST_Number").keypress(function (event) {
        if (event.which != 8 && event.which != 0 && (event.which < 48 || event.which > 57)) {
            return false;
        }
    });
    $("#txt_CreditLimit").keypress(function (event) {
        if (event.which != 8 && event.which != 0 && (event.which < 48 || event.which > 57)) {
            return false;
        }
    });
</script>