@model HRTool.Models.BulkActions.AddSalaryViewModel
<div class="modal fade" id="addsalaryDeduction" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" id="btn-close-SalaryDeduction">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title salaryDeductionDeductionTitle" id="myModalLabel">Add salaryDeduction</h4>
            </div>
            <!-- Modal Body -->
            <div class="modal-body" align="right" id="AddsalaryDeductionDeductionBody">
            </div>
            <br />
            <!-- Modal Footer -->
            <div class="modal-footer">
                @*<button type="button" class="btn btn-success" id="btn-submit-salaryDeduction">ADD</button>*@
                <button type="button" class="btn btn-warning" id="btn-Cancel-SalaryDeduction">CANCEL</button>
            </div>
        </div>
    </div>
</div>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Add Employee Information</h4>
</div>
<div id="findBtn">

    <div class="row marbot10">
        <div class="form-group">
            <label class="control-label col-md-3">Effective From*</label>
            <div class="col-md-6">
                <input type="text" class="form-control mrg-btm datepicker" id="Effective" placeholder="Effective From" value="@Model.EffectiveFrom" name="EffectiveFrom">
            </div>
            <div class="col-md-3">
                <span class="field-validation-error" id="validationmessagefromdate" data-valmsg-for="fromdate" data-valmsg-replace="true" style="display:none">The Effective Date is required.</span>
            </div>
        </div>
    </div>
    <div class="row marbot10">
        <div class="col-md-3">
            <label class="control-label" for="systemListName">Salary Type</label>
        </div>
        <div class="col-md-6 dropdown-selectlist">
            <select class="form-control" id="drpSalary">
                @foreach (var Salary in Model.SalaryTypeList)
            {
            <option value="@Salary.Value" @(Salary.Selected ? "Selected" : "")>@Salary.Text</option>
            }
            </select>
        </div>
        <div class="col-md-3">
            <span class="field-validation-error" id="validationmessageTrainingId" data-valmsg-for="Name" data-valmsg-replace="true" style="display:none"></span>
        </div>
    </div>
    <div class="row marbot10">
        <div class="col-md-3">
            <label class="control-label" for="systemListName">Payment Frequency </label>
        </div>
        <div class="col-md-6 dropdown">
            <select class="form-control" id="drpPayment">
                @foreach (var Payment in Model.PaymentFrequencyList)
            {
            <option value="@Payment.Value" @(Payment.Selected ? "Selected" : "")>@Payment.Text</option>
            }
            </select>
        </div>
        <div class="col-md-3">
            <span class="field-validation-error" id="validationmessageTrainingId" data-valmsg-for="Name" data-valmsg-replace="true" style="display:none"></span>
        </div>
    </div>

    <div class="row marbot10">
        <div class="form-group">
            <label class="control-label col-md-3">Amount*</label>
            <div class="col-md-3">
                <input type="number" min="0" class="form-control mrg-btm" id="Amount" placeholder="Amount" value="@Model.Amount" name="Amount" title="Amount">
            </div>
            <div class="col-md-3 dropdown" data-toggle="tooltip">
                <select class="form-control" id="drpCurrency">
                    @foreach (var Currency in Model.CurrencyList)
                {

                <option value="@Currency.Value" @(Currency.Selected ? "Selected" : "")>@Currency.Text</option>
                }
                </select>
            </div>
            <div class="col-md-3">
                <span class="field-validation-error" id="validationmessageAmount" data-valmsg-for="fromdate" data-valmsg-replace="true" style="display:none">The Ammount is reqiured.</span>
                <span class="field-validation-error" id="validationmessageCurruncy" data-valmsg-for="fromdate" data-valmsg-replace="true" style="display:none">Select the curruncy.</span>
            </div>
        </div>
    </div>
    @if (!Model.Tempmode)
    {
        <div class="row marbot10">
            <label class="col-md-3">Deductions</label>
            <div class="col-md-6">
                <div id="tableDivDeductionSalary">
                    @Html.Action("AddSalaryDeductionsList", "MeEmployeeProfile", new { Id = Model.Id })
                </div>
            </div>
            <div class="col-md-3">

            </div>

        </div>

        <div class="row marbot10">
            <label class="col-md-3">Entitlements</label>
            <div class="col-md-6">
                <div id="tableDivEntitlementSalary">
                    @Html.Action("AddSalaryEntitlementsList", "MeEmployeeProfile", new { Id = Model.Id })
                </div>
            </div>
            <div class="col-md-3">

            </div>
        </div>
    }
    else
    {
        <div class="row marbot10">
            <label class="col-md-3">Deductions</label>
            <div class="col-md-6">
                <div id="tableDivDeductionTempSalary">
                    @Html.Action("AddSalaryDeductionsListTemp", "MeEmployeeProfile", new { Id = Model.TableId })
                </div>
            </div>
            <div class="col-md-3">

            </div>

        </div>

        <div class="row marbot10">
            <label class="col-md-3">Entitlements</label>
            <div class="col-md-6">
                <div id="tableDivEntitlementTempSalary">
                    @Html.Action("AddSalaryEntitlementsListTemp", "MeEmployeeProfile", new { Id = Model.TableId })
                </div>
            </div>
            <div class="col-md-3">

            </div>
        </div>

    }
    <div class="row marbot10">
        <div class="form-group">
            <label class="control-label col-md-3">Total Salary</label>
            <div class="col-md-6">
                <input type="text" class="form-control mrg-btm" id="TotalSalary" placeholder="TotalSalary" value="@Model.TotalSalary" name="TotalSalary" title="TotalSalary" readonly>
            </div>
            <div class="col-md-3">
                <span class="field-validation-error" id="validationmessagefromdate" data-valmsg-for="fromdate" data-valmsg-replace="true" style="display:none"></span>
            </div>
        </div>
    </div>

    <div class="row marbot10">
        <div class="col-md-3">
            <label class="control-label" for="systemListName">Reason for Change*</label>
        </div>
        <div class="col-md-6 dropdown" data-toggle="tooltip">
            <select class="form-control" id="drpResonforChange">
                @foreach (var Reason in Model.ReasonforChangeList)
            {
            <option value="@Reason.Value" @(Reason.Selected ? "Selected" : "")>@Reason.Text</option>
            }
            </select>
        </div>
        <div class="col-md-3">
            <span class="field-validation-error" id="validationmessageReason" data-valmsg-for="Name" data-valmsg-replace="true" style="display:none">The Reason For Change is required.</span>
        </div>
    </div>
    <div class="row marbot10">
        <div class="form-group">
            <label class="control-label col-md-3">Comments</label>
            <div class="col-md-6">
                <textarea class="form-control mrg-btm datepicker" id="Comments" placeholder="Comments" name="Comments" title="Comments">@Model.Comments</textarea>
            </div>
            <div class="col-md-3">
                <span class="field-validation-error" id="validationmessagefromdate" data-valmsg-for="fromdate" data-valmsg-replace="true" style="display:none"></span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success" id="btnBulkSalaryData">Add</button>
        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
    </div>
    </div>
<script src="~/JS/BulkAction/BulkActionJs.js"></script>
<script>
    $("#drpCurrency").change(function () {
        var curruncy = $('#drpCurrency').val();
        if (curruncy == 0) {
            isError = true;
            $("#findBtn").find("#validationmessageCurruncy").show();
            $(".hrtoolLoader").hide();
            $(".modal-backdrop").hide();
        }
        else {
            $("#findBtn").find("#validationmessageCurruncy").hide();
        }
    });
</script>