@model IList<HRTool.Models.Settings.EditSegmentViewModel>
@{
    int i = 1;
}
<div class="segments-box">
    <div class="color-st orange"></div>
    <h4 class="heading_a">Co-Worker Segments</h4>
    <div class="performance-grid">
        <div class="cf nestable-lists">
            <div class="dd CoworkerSegmentNestable" style="width:100%">
                <ol id="MainPageCoworkerSegmentQuestionList" class="dd-list" data-uk-nestable="{maxDepth:0}">
                    @foreach (var item in Model)
                    {
                        <li class="dd-item liCoWorkerSegment_@i" data-id="@i" id="@i">
                            <div class="dd-handle dd3-handle" data-id="@i" id="@i">
                                <i class="fa fa-bars"></i>
                            </div><div class="dd3-content row AddEditCoWorkerSegmentRow">
                                <div class="col-lg-11">
                                    <div class="row">
                                        <div class="col-lg-6 coWorkerSegmentTitle">@item.Title</div>
                                        <div class="col-lg-6 coWorkerSegmentTotalQuestion">@item.TotalQueastion Questions</div>
                                        <div class="col-lg-6 coWorkerSegmentDescription">@item.Description</div>
                                    </div>
                                </div><div class="col-lg-1">
                                    <div class="icons">
                                        <a><i class="material-icons uk-text-success EditMainCoWorkerSegmet" data-title="@item.Title" data-description="@item.Description" data-questionjsonstring="@item.QueationType" data-id="@i" data-toggle="modal" data-target="#CoworkerSegmentModel">edit</i></a>
                                        <a class="removeMainLiCoWorkerSegment"><i class="material-icons uk-text-danger">delete</i></a>
                                    </div>
                                </div>
                            </div>
                            @{
                                i = i + 1;
                            }
                        </li>
                                }
                </ol>
            </div>
        </div>
        <div data-toggle="modal" data-target="#CoworkerSegmentModel">
            <a class="btn btn-success" style="width:100%;background: #ecce07;border-color:#ecce07;" id="CoworkerSegmentclass">Add Segments</a>
        </div>
    </div>
</div>

<div id="CoworkerSegmentModel" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="segmentsBox">
                <div class="performance-grid">
                    <div class="">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Add Co-Worker Segment</h4>
                        </div>
                        <div class="modal-body">

                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="CoworkerSegmentAddQuestionModel" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="segmentsBox">
                <div class="performance-grid">
                    <div class="">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Add Question</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="row marbot10">
                                    <label class="col-md-3">Question*</label>
                                    <div class="col-md-6">
                                        <input type="hidden" id="hidden_CoWorkerSegment_Question_id" value="" />
                                        <input type="text" class="form-control textarea-resizeNone" id="CoWorkerQuestion" placeholder="Question" />
                                    </div>
                                    <div class="col-md-3">
                                        <span class="field-validation-error" id="label_CoWorkersegment_Question" data-valmsg-for="Title" data-valmsg-replace="true" style="display:none">Question is required</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="row marbot10">
                                    <label class="col-md-3">Help Text*</label>
                                    <div class="col-md-6">
                                        <textarea type="text" class="form-control" id="CoWorker_HelpText" placeholder="Question" />
                                    </div>
                                    <div class="col-md-3">
                                        <span class="field-validation-error" id="label_coresegment_Question" data-valmsg-for="Title" data-valmsg-replace="true" style="display:none">Core Quetion Text</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="row marbot10">
                                    <label class="col-md-3">Type *</label>
                                    <div class="col-md-6 dropdown">
                                        <select id="CoWorker_Question_Type" class="col-md-6 form-control">
                                            @foreach (var item in ViewBag.CoWorkerFiledList)
                                            {
                                                <option value=@item.Key>@item.Value</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <span class="field-validation-error" id="lblerrorFiledType" data-valmsg-for="Title" data-valmsg-replace="true" style="display:none">Type is Required.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="row marbot10">
                                    <label class="col-md-3">Core Value *</label>
                                    <div class="col-md-6 dropdown">
                                        <select class="col-md-6 form-control" id="CoWorker_Question_CoreValue">
                                            @foreach (var item in ViewBag.CoWorker_ValueList)
                                            {
                                                <option value=@item.Key>@item.Value</option>
                                            }
                                        </select>
                                    </div>

                                    <div class="col-md-3">
                                        <span class="field-validation-error" id="lblerrorCoreValue" data-valmsg-for="Title" data-valmsg-replace="true" style="display:none">Core Value is Required.</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success" id="btn-submit-AddCoworkerSegmentQuestion">Add</button>
                            <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        </div>


<script>
    $("#CoWorker_Question_Type").on("change", function () {
        $("#Createperformance").find("#CoworkerSegmentAddQuestionModel").find("#lblerrorFiledType").hide();
    })
    $("#CoWorker_Question_CoreValue").on("change", function () {
        $("#Createperformance").find("#CoworkerSegmentAddQuestionModel").find("#lblerrorCoreValue").hide();
    })
    var updateOutput = function (e) {
        var list = e.length ? e : $(e.target),
                output = list.data('output');
        if (window.JSON) {
            output.val(window.JSON.stringify(list.nestable('serialize')));//, null, 2));
        }
        else {
            output.val('JSON browser support required for this demo.');
        }
    };
    $(document).ready(function () {
        $('.CoworkerSegmentNestable').nestable({
            maxDepth: 1,
        });
        function changeTable() {
        }
        updateOutput($('.CoworkerSegmentNestable').data('output', $('.CoworkerSegmentNestable-output')));
    });
</script>
