@model IList<HRTool.Models.Settings.EditSegmentViewModel>
@{
    int i = 1;
}
<style>
    .modal-footer {
        padding: 20px;
        text-align: right;
        border-top: 1px solid #e5e5e5;
    }
</style>
<div class="segments-box">
    <div class="color-st blue"></div>
    <h4 class="heading_a">Core Segments</h4>
    <div class="performance-grid">
        <div class="cf nestable-lists">
            <div class="dd CoreSegmentNestable" style="width:100%">
                <ol id="MainPageCoreSegmentQuestionList" class="dd-list" data-uk-nestable="{maxDepth:0}">
                    @foreach (var item in Model)
                    {
                        <li class="dd-item liCoreSegment_@i" data-id="@i" id="@i">
                            <div class="dd-handle dd3-handle" data-id="@i" id="@i"><i class="fa fa-bars"></i></div><div class="dd3-content row AddEditCoreSegmentRow">
                                <div class="col-lg-11">
                                    <div class="row"><div class="col-lg-6 coreSegmentTitle">@item.Title</div><div class="col-lg-6 coreSegmentTotalQuestion">@item.TotalQueastion Questions</div><div class="col-lg-6 coreSegmentDescription">@item.Description</div></div>                                    
                                </div>
                                <div class="col-lg-1">
                                    <div class="icons">
                                        <a><i class="material-icons uk-text-success EditMainCoreSegmet" data-title="@item.Title" data-description="@item.Description" data-questionjsonstring="@item.QueationType" data-id="@i" data-myval="123" data-toggle="modal" data-target="#CoreSegmentModel">edit</i></a>
                                        <a class="removeMainLiCoreSegment"><i class="material-icons uk-text-danger">delete</i></a>
                                    </div>
                                </div>
                            </div>
                            @{
                        i = i + 1;
                            }
                        </li>
                    }
                </ol>
            </div>
        </div>
        <div data-toggle="modal" data-target="#CoreSegmentModel">
            <a  id="CoreSegmentclass" class="btn btn-success" style="width:100%;background: #3498db;">Add Segments</a>
        </div>
    </div>
</div>
<div id="CoreSegmentModel" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="segmentsBox">
                <div class="performance-grid">
                    <div class="">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Add Core Segment</h4>
                        </div>
                        <div class="modal-body">

                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="CoreSegmentAddQuestionModel" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="segmentsBox">
                <div class="performance-grid">
                    <div class="">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Add Question</h4>
                        </div>
                        <div class="modal-body" >
                            <div class="row marbot10">
                                <label class="col-md-3">Question*</label>
                                <div class="col-md-6">
                                    <input type="hidden" id="hidden_CoreSegment_Question_id" value="" />
                                    <input type="text" class="form-control " id="coreQuestion" placeholder="Question"/>
                                    <span class="field-validation-error" id="label_coresegment_Question" data-valmsg-for="Title" data-valmsg-replace="true" style="display:none">Question is required</span>
                                </div>
                            </div>
                            <div class="row marbot10">
                                    <label class="col-md-3">Help Text*</label>
                                    <div class="col-md-6">
                                      
                                        <textarea type="text" class="form-control" id="CoreSegment_HelpText" placeholder="Help Text" />                                        
                                    </div>
                                    <div class="col-md-3">
                                        <span class="field-validation-error" id="lblerrorHelpText" data-valmsg-for="Title" data-valmsg-replace="true" style="display:none">Help Text is Required.</span>
                                    </div>
                                </div>
                               <div class="row marbot10">
                                    <label class="col-md-3">Type *</label>
                                    <div class="col-md-6 dropdown" >
                                       <select class="col-md-6 form-control" id="CoreSegment_Question_Type">
                                           @foreach (var item in ViewBag.CoreFiledList)
                                           {
                                               <option value=@item.Key>@item.Value</option>
                                           }
                                       </select>
                                   </div>
                                   <div class="col-md-3">
                                       <span class="field-validation-error" id="lblerrorFiledType" data-valmsg-for="Title" data-valmsg-replace="true" style="display:none">Type is Required.</span>
                                   </div>
                                </div>
                                <div class="row marbot10">
                                    <label class="col-md-3">Core Value *</label>    
                                    <div class="col-md-6 dropdown">
                                       <select id="CoreSegment_Question_CoreValue" class="col-md-6 form-control">
                                            @foreach (var item in ViewBag.Core_ValueList)
                                            {
                                                <option value=@item.Key>@item.Value</option>
                                            }
                                        </select>
                                        </div>
                                    <div class="col-md-3">
                                        <span class="field-validation-error" id="lblerrorCoreValue" data-valmsg-for="Title" data-valmsg-replace="true" style="display:none">Core Value is Required.</span>
                                    </div>
                                    </div>


                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success" id="btn-submit-AddCoreSegmentQuestion">Add</button>
                            <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#CoreSegment_Question_Type").on("change", function () {
        $("#lblerrorFiledType").hide();
    })
    $("#CoreSegment_Question_CoreValue").on("change", function () {
        $("#lblerrorCoreValue").hide();
    })
    var updateOutput = function (e) {
        var list = e.length ? e : $(e.target),
                output = list.data('output');
        if (window.JSON) {

            output.val(window.JSON.stringify(list.nestable('serialize')));//, null, 2));
        }
        else {
            output.val('JSON browser support required for this demo.');
        }
    };
    $(document).ready(function () {
        $('.CoreSegmentNestable').nestable({
            maxDepth: 1,
        });
        function changeTable() {
        }
        updateOutput($('.CoreSegmentNestable').data('output', $('.CoreSegmentNestable-output')));
    });
</script>