@model HRTool.Models.Resources.ResourcesAsminProjectPlannerViewModel

<input type="hidden" value="@Model.IsUplift" id="hdnSchedule" />
<input type="hidden" id="hdnYear" value="@Model.Year" />
<input type="hidden" id="hdnMonth" value="@Model.Month"/>
<input type="hidden" id="hdnDay" value="@Model.Day"/>
<input type="hidden" id="isMonthUpliftDrill" value="@Model.isMonth"/>
<input class="btn btn-primary" type="button" id="btnUplift" value="Uplift" />
<input class="btn btn-primary" type="button" id="btnProjectPlanner" onclick="backToUpliftProjectPlanner();" value="Project Planner" />
    @*<input type="button" id="btnScheduling" value="Schedule a Resource" onclick="SchedulingData(@Model.IsSchdule,0,@Model.Year,@Model.Month,@Model.Day)" />*@
<div class="md-card">
    <div class="md-card-content">
        <div id="tableDivResourercords">
            <div class="table-responsive">
                <div class="table-btns">
                    <div class="resource-table-btns">
                        <a class="btn btn-success btn-circle  btn-add-Resoure" title="Add Project" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#AddResoure" disabled="disabled"><i class="fa fa-plus"></i></a>
                        <a class="btn btn-primary btn-circle  btn-edit-Resoure" title="Edit" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#AddProjectModel" disabled="disabled"><i class="fa fa-pencil"></i></a>
                        <a class="btn btn-danger btn-circle  btn-delete-Resoure" data-toggle="tooltip" data-placement="right" title="Delete" disabled="disabled"><i class="fa fa-trash-o"></i> </a>
                        <button title="Refresh" class="btn btn-primary btn-circle  btn-Refresh-Resoure" data-toggle="tooltip" data-placement="right"><i class="fa fa-reply"></i></button>
                        <button title="Clear Sorting" class="btn btn-info btn-circle  btn-ClearSorting-Resoure" data-toggle="tooltip" data-placement="right"><i class="fa fa-upload"></i></button>
                        <button class="btn btn-warning btn-circle  btn-clearFilter-Resoure" title="Clear Filter"><i class="fa fa-filter" data-toggle="tooltip" data-placement="right"></i></button>
                        @*<a class="btn btn-primary btn-circle  btn-export2excel-Resoure" href="@Url.Action("ExportExcelCoustomer", "AdminProjectPlanner",new {isSchedule=1,isTimesheet=0, Day=Model.Day,month=Model.Month,Year=Model.Year,BusiId=Model.Business,DiviId=Model.Division,PoolId=Model.Pool,FunctId=1,ProjectId=Model.Project })" title="export2excel"><i class="fa fa-rocket"></i></a>*@
                        <a class="btn btn-primary btn-export2excel-Resoure" href="@Url.Action("ExportExcelUplift", "AdminProjectPlanner",new {Day=Model.Day,month=Model.Month,Year=Model.Year,BusiId=Model.Business,DiviId=Model.Division,PoolId=Model.Pool,FunctId=Model.FunctionId,ProjectId=Model.Project })" title="export2excel"><i class="fa fa-upload"></i></a>
                    </div>                    
                </div>
            </div>
            <div class="clearfix">
            </div>
            <div class="uk-overflow-container">
                <div class="table-responsive " style="width:2700px;">
                    <table id="ResoureListtable" class="table-bordered display table style2 pull-right" cellspacing="0">
                        <thead>
                            <tr class="tblHeading">
                                <th>Resource Name-SSO</th>
                                <th>Job Title</th>
                                <th>Uplift Position</th>
                                <th>Duration</th>
                                <th>Business</th>
                                <th>Division</th>
                                <th>Pool</th>
                                <th>Project</th>
                                <th>Customer</th>
                                <th>Asset Name</th>
                                <th>Asset Type</th>
                                <th>Time-Written</th>
                                <th>Manager</th>                                
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th ><input type="text" class="form-control SearchResource_Name" placeholder="Resource Name"></th>
                                <th ><input type="text" class="form-control SearchJobTitle" placeholder="Job Title"></th>
                                <th ><input type="text" class="form-control SearchUpliftPosition" placeholder="Uplift Position"></th>
                                <th ><input type="text" class="form-control SearchDays" placeholder="Duration"></th>
                                <th ><input type="text" class="form-control SearchBusiness" placeholder="Business"></th>
                                <th ><input type="text" class="form-control SearchDivision" placeholder="Division"></th>
                                <th ><input type="text" class="form-control SearchPool" placeholder="Pool"></th>
                                <th ><input type="text" class="form-control SearchProject" placeholder="Project"></th>
                                <th ><input type="text" class="form-control SearchAssetName" placeholder="Asset Name"></th>
                                <th ><input type="text" class="form-control SearchAssetType" placeholder="Asset Type"></th>
                                <th ><input type="text" class="form-control SearchCustomer" placeholder="Customer"></th>
                                <th ><input type="text" class="form-control SearchStatus" placeholder="Status"></th>
                                <th ><input type="text" class="form-control SearchManager" placeholder="Manager"></th>
                            </tr>
                        </tfoot>
                        <tbody class="employee_list_fix">
                            @foreach (var item in Model.GetAllList)
                            {
                                <tr id="@item.EmployeeId" class="dataTr">
                                    <td>
                                       <a href="#" id='@item.Resource_Name_SSO' onclick="EditResourceUplift(@item.EmployeeId)">@item.Resource_Name_SSO</a>
                                    </td>
                                    <td>
                                        @item.jobtitle
                                    </td>
                                    <td>NULL</td>
                                    <td>@item.Duration</td>                            
                                    <td>
                                        @item.Business
                                    </td>
                                    <td>
                                        @item.Division
                                    </td>
                                    <td>
                                        @item.Pool
                                    </td>
                                    <td>
                                        @item.Project
                                    </td>
                                    <td>@item.AssetName</td>
                                    <td>NULL</td>
                                    <td>@item.Customer</td>
                                    <td>@item.Status</td>
                                    <td>NULL</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    testSearch();
    //$(document).ready(function () {
    //    DataTableDesignTimesheet();
    //});
    function testSearch() {
        $("#tableDivResourercords tfoot tr").appendTo("#tableDivResourercords thead");
        var table = $("#tableDivResourercords").find("#ResoureListtable").DataTable({
            "sDom": '<"top"i>rt<"bottom"flp><"clear">',
            "scrollX":true
        });
        debugger;
        $('#tableDivResourercords').find('.dataTables_filter').hide();
        $('#tableDivResourercords').find('.dataTables_info').hide();        
        $("#tableDivResourercords thead .SearchResource_Name").keyup(function () {
            table.column(0).search(this.value).draw();
        });
        $("#tableDivResourercords thead .SearchJobTitle").keyup(function () {
            table.column(1).search(this.value).draw();
        });
        $("#tableDivResourercords thead .SearchUpliftPosition").keyup(function () {
            table.column(2).search(this.value).draw();
        });
        $("#tableDivResourercords thead .SearchDays").keyup(function () {
            table.column(3).search(this.value).draw();
        });
        $("#tableDivResourercords thead .SearchBusiness").keyup(function () {
            table.column(4).search(this.value).draw();
        });
        $("#tableDivResourercords thead .SearchDivision").keyup(function () {
            table.column(5).search(this.value).draw();
        });
        $("#tableDivResourercords thead .SearchPool").keyup(function () {
            table.column(6).search(this.value).draw();
        });
        $("#tableDivResourercords thead .SearchProject").keyup(function () {
            table.column(7).search(this.value).draw();
        });
        $("#tableDivResourercords thead .SearchAssetName").keyup(function () {
            table.column(8).search(this.value).draw();
        });
        $("#tableDivResourercords thead .SearchAssetType").keyup(function () {
            table.column(9).search(this.value).draw();
        });
        $("#tableDivResourercords thead .SearchCustomer").keyup(function () {
            table.column(10).search(this.value).draw();
        });
        $("#tableDivResourercords thead .SearchStatus").keyup(function () {
            table.column(11).search(this.value).draw();
        });
        $("#tableDivResourercords thead .SearchManager").keyup(function () {
            table.column(12).search(this.value).draw();
        });
    }
</script>
