@model HRTool.Models.Admin.AdminProjectPlannerMonthModel

@{
    int count = 1;
    var Take = 0;
    var IsSchdule = Model.IsSchedule == true ? 1 : 0;
    var IsTravel = Model.IsTravel == true ? 1 : 0;
    var IsTimeSheet = Model.IsTimeSheet == true ? 1 : 0;
    var IsUplift = Model.IsUplift == true ? 1 : 0;
    var className = Model.IsSchedule ? "schedulingIcon" : Model.IsTravel ? "travelSheetIcon" : Model.IsTimeSheet ? "timeSheetIcon" : "upliftSheetIcon";
}
<style type="text/css">
    .schedulingIcon {
        display: block;
        opacity: 0.5;
        position: relative;
        height: 45px;
        background: #D9EDF7 url(./img/planner/icnscheduling1.png) no-repeat center center;
        cursor: pointer;
        background-size: 22px;   
    }

    .timeSheetIcon {
        display: block;
        opacity: 0.5;
        position: relative;
        height: 45px;
        background: #DFF0D8 url(./img/planner/icntimesheets.png) no-repeat center center;
        cursor: pointer;
        background-size: 22px;
    }

    .travelSheetIcon {
        display: block;
        opacity: 0.5;
        position: relative;
        height: 45px;
        background: #D9EDF7 url(./img/planner/icntravel.png) no-repeat center center;
        cursor: pointer;
        background-size: 24px;
    }

    .upliftSheetIcon {
        display: block;
        opacity: 0.5;
        position: relative;
        height: 45px;
        background: #D9EDF7 url(./img/planner/icnuplift1.png) no-repeat center center;
        cursor: pointer;
        background-size: 22px;
    }
</style>
<div id="PartialMonthDay">
    <input type="hidden" value="@IsSchdule" id="hdnSchedule" />
    <input type="hidden" value="@IsTravel" id="hdnTravel" />
    <input type="hidden" value="@IsTimeSheet" id="hdnTimeSheet" />
    <input type="hidden" value="@IsUplift" id="hdnUplift" />
    <input type="hidden" value="@Model.YearId" id="hdnYear" />
    <input style="margin-left:20px;" class="btn btn-primary" type="button" onclick="backToProjectPlannerFromMonth()" value="Back To ProjectPlanner" />
    <div>
        <div>
            @*@if (Model.IsSchedule)
    {
        <div class="topbtn active"><a href="#">Scheduling</a></div>
    }

    @if (Model.IsTravel)
     {
        <div class="topbtn active"><a href="#">Travel</a></div>
        @*<input type="button" onclick="GetAllTravelLeaveByMonth(@Model.YearId,0,1,0,0)" value="Travel" />
    }

    @if (Model.IsTimeSheet)
     {
        <div class="topbtn active"><a>Timesheet</a></div>
     }
    @if (Model.IsUplift)
     {
        <div class="topbtn active"><a href="#">Uplift</a></div>
    }*@
        </div>
    </div>
    <div class="col-md-12">
    <div class="row">
    <div id="projectCalendarYear_Month">
        <div class="tablescompany">
            <section class="big-calender">
                <table class="FixedTablesAdminProject">
                    <thead>
                        <tr>
                            <th colspan="7"><a href="#">@Model.MonthName </a></th>
                        </tr>
                        <tr>
                            <th>Sun</th>
                            <th>Mon</th>
                            <th>Tue</th>
                            <th>Wed</th>
                            <th>Thu</th>
                            <th>Fri</th>
                            <th>Sat</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            @for (int i = 0; i < Model.listOfDayModel.FirstOrDefault().StartDay; i++)
                        {
                                <td class="add">
                                    <span> </span>
                                </td>
                            Take = 7 - Model.listOfDayModel.FirstOrDefault().StartDay;
                        }
                            @foreach (var itemDay in Model.listOfDayModel.Take(Take))
                        {
                                <td class="add">
                                    @if (itemDay.IsSheduling || itemDay.IsTimeSheet || itemDay.IsTravel || itemDay.IsUplift)
                                {
                                        @*<a data-toggle="popover" class="@className" onclick="getProjectPlannerData(@IsSchdule,@IsTimeSheet,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId);" data-content="Some content inside the popover"></a>*@
                                        <div class="dropdown">
                                            <a class="dropdown-toggle @className" id="dropdownMenu1" data-toggle="dropdown">
                                            </a>
                                            @if (className == "schedulingIcon")
                                        {
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                                    <li><a href="#" onclick="SchedulingData(@IsSchdule,@IsTimeSheet,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0,1);">Scheduling</a></li>
                                                    <li><a href="#" onclick="DrillDownData(@IsSchdule,@IsTimeSheet,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0);">Drilldown</a></li>
                                                </ul>
                                        }
                                        else if (className == "travelSheetIcon")
                                        {
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                                    <li><a href="#" onclick="TravelData(@IsTravel,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0,1);">Travel</a></li>
                                                    <li><a href="#" onclick="TravelDrillDownData(@IsTravel,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0);">Drilldown</a></li>
                                                </ul>
                                        }
                                        else if (className == "timeSheetIcon")
                                        {
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                                    <li><a href="#" onclick="TimesheetData(@IsTimeSheet,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0,1);">Timesheet</a></li>
                                                    <li><a href="#" onclick="TTimesheetDrillDownData(@IsTimeSheet,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0);">Drilldown</a></li>
                                                </ul>
                                        }
                                        else if (className == "upliftSheetIcon")
                                        {
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                                    <li><a href="#" onclick="UpliftData(@IsUplift,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0,1);">Uplift</a></li>
                                                    <li><a href="#" onclick="UpliftDrillDownData(@IsUplift,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0);">Drilldown</a></li>
                                                </ul>
                                        }

                                        </div>
                                        @*<span class="@className" >@itemDay.DayId</span>*@
                                }
                                else
                                {
                                    if (className == "schedulingIcon")
                                    {
                                            <span class="icn btn_AddEdit_Scheduling schedulingMonth" id="big-calender-span" data-id="0" data-yearid="@itemDay.YearId" data-monthid="@itemDay.MonthId" data-dayid="@itemDay.DayId" onclick="SchedulingData(@IsSchdule,@IsTimeSheet,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0,1);">@itemDay.DayId</span>
                                    }
                                    else if (className == "travelSheetIcon")
                                    {
                                            <span class="icnTravel travelMonth" data-id="0" id="big-calender-span" data-yearid="@itemDay.YearId" data-monthid="@itemDay.MonthId" data-dayid="@itemDay.DayId" onclick="TravelData(@IsTravel,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0,1);">@itemDay.DayId</span>
                                    }
                                    else if (className == "timeSheetIcon")
                                    {
                                            <span class="icnTimesheet timesheetMonth" data-id="0" id="big-calender-span" data-yearid="@itemDay.YearId" data-monthid="@itemDay.MonthId" data-dayid="@itemDay.DayId" onclick="TimesheetData(@IsTimeSheet,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0,1);">@itemDay.DayId</span>
                                    }
                                    else if (className == "upliftSheetIcon")
                                    {
                                            <span class="icnuplift upliftMonth" data-id="0" id="big-calender-span" data-yearid="@itemDay.YearId" data-monthid="@itemDay.MonthId" data-dayid="@itemDay.DayId" onclick="UpliftData(@IsUplift,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0,1);">@itemDay.DayId</span>
                                    }
                                        @*<span>@itemDay.DayId</span>*@
                                }
                                </td>
                        }
                        </tr>
                        <tr>
                            @foreach (var itemDay in Model.listOfDayModel.Skip(Take).Take(7))
                        {
                                <td class="add">
                                    @if (itemDay.IsSheduling || itemDay.IsTimeSheet || itemDay.IsTravel || itemDay.IsUplift)
                                {

                                        @*<a data-toggle="popover" class="@className " onclick="getProjectPlannerData(@IsSchdule,@IsTimeSheet,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId);" data-content="Some content inside the popover"></a>*@
                                        <div class="dropdown">
                                            <a class="dropdown-toggle @className" id="dropdownMenu1" data-toggle="dropdown">
                                            </a>
                                            @if (className == "schedulingIcon")
                                        {
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                                    <li><a href="#" onclick="SchedulingData(@IsSchdule,@IsTimeSheet,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0,1);">Scheduling</a></li>
                                                    <li><a href="#" onclick="DrillDownData(@IsSchdule,@IsTimeSheet,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0);">Drilldown</a></li>
                                                </ul>
                                        }
                                        else if (className == "travelSheetIcon")
                                        {
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                                    <li><a href="#" onclick="TravelData(@IsTravel,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0,1);">Travel</a></li>
                                                    <li><a href="#" onclick="TravelDrillDownData(@IsTravel,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0);">Drilldown</a></li>
                                                </ul>
                                        }
                                        else if (className == "timeSheetIcon")
                                        {
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                                    <li><a href="#" onclick="TimesheetData(@IsTimeSheet,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0,1);">Timesheet</a></li>
                                                    <li><a href="#" onclick="TTimesheetDrillDownData(@IsTimeSheet,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0);">Drilldown</a></li>
                                                </ul>
                                        }
                                        else if (className == "upliftSheetIcon")
                                        {
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                                    <li><a href="#" onclick="UpliftData(@IsUplift,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0,1);">Uplift</a></li>
                                                    <li><a href="#" onclick="UpliftDrillDownData(@IsUplift,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0);">Drilldown</a></li>
                                                </ul>
                                        }
                                        </div>

                                }
                                else
                                {
                                    if (className == "schedulingIcon")
                                    {
                                            <span class="icn btn_AddEdit_Scheduling schedulingMonth" id="big-calender-span" data-id="0" data-yearid="@itemDay.YearId" data-monthid="@itemDay.MonthId" data-dayid="@itemDay.DayId" onclick="SchedulingData(@IsSchdule,@IsTimeSheet,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0,1);">@itemDay.DayId</span>
                                    }
                                    else if (className == "travelSheetIcon")
                                    {
                                            <span class="icnTravel travelMonth" data-id="0" id="big-calender-span" data-yearid="@itemDay.YearId" data-monthid="@itemDay.MonthId" data-dayid="@itemDay.DayId" onclick="TravelData(@IsTravel,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0,1);">@itemDay.DayId</span>
                                    }
                                    else if (className == "timeSheetIcon")
                                    {
                                            <span class="icnTimesheet timesheetMonth" data-id="0" id="big-calender-span"  data-yearid="@itemDay.YearId" data-monthid="@itemDay.MonthId" data-dayid="@itemDay.DayId" onclick="TimesheetData(@IsTimeSheet,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0,1);">@itemDay.DayId</span>
                                    }
                                    else if (className == "upliftSheetIcon")
                                    {
                                            <span class="icnuplift upliftMonth" data-id="0" id="big-calender-span" data-yearid="@itemDay.YearId" data-monthid="@itemDay.MonthId" data-dayid="@itemDay.DayId" onclick="UpliftData(@IsUplift,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0,1);">@itemDay.DayId</span>
                                    }
                                        @*<span>@itemDay.DayId</span>*@
                                }
                                </td>
                        }
                        </tr>
                        <tr>
                            @foreach (var itemDay in Model.listOfDayModel.Skip(Take + 7).Take(7))
                        {
                                <td class="add">
                                    @if (itemDay.IsSheduling || itemDay.IsTimeSheet || itemDay.IsTravel || itemDay.IsUplift)
                                {
                                        <div class="dropdown">
                                            <a class="dropdown-toggle @className" id="dropdownMenu1" data-toggle="dropdown">
                                            </a>
                                            @if (className == "schedulingIcon")
                                        {
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                                    <li><a href="#" onclick="SchedulingData(@IsSchdule,@IsTimeSheet,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0,1);">Scheduling</a></li>
                                                    <li><a href="#" onclick="DrillDownData(@IsSchdule,@IsTimeSheet,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0);">Drilldown</a></li>
                                                </ul>
                                        }
                                        else if (className == "travelSheetIcon")
                                        {
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                                    <li><a href="#" onclick="TravelData(@IsTravel,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0,1);">Travel</a></li>
                                                    <li><a href="#" onclick="TravelDrillDownData(@IsTravel,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0);">Drilldown</a></li>
                                                </ul>
                                        }
                                        else if (className == "timeSheetIcon")
                                        {
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                                    <li><a href="#" onclick="TimesheetData(@IsTimeSheet,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0,1);">Timesheet</a></li>
                                                    <li><a href="#" onclick="TTimesheetDrillDownData(@IsTimeSheet,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0);">Drilldown</a></li>
                                                </ul>

                                        }
                                        else if (className == "upliftSheetIcon")
                                        {
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                                    <li><a href="#" onclick="UpliftData(@IsUplift,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0,1);">Uplift</a></li>
                                                    <li><a href="#" onclick="UpliftDrillDownData(@IsUplift,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0);">Drilldown</a></li>
                                                </ul>
                                        }
                                        </div>
                                        @*<a data-toggle="popover" class="@className" onclick="getProjectPlannerData(@IsSchdule,@IsTimeSheet,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId);" data-content="Some content inside the popover"></a>*@
                                }
                                else
                                {
                                        @*<span>@itemDay.DayId</span>*@
                                if (className == "schedulingIcon")
                                {
                                        <span class="icn btn_AddEdit_Scheduling schedulingMonth" data-id="0" id="big-calender-span" data-yearid="@itemDay.YearId" data-monthid="@itemDay.MonthId" data-dayid="@itemDay.DayId" onclick="SchedulingData(@IsSchdule,@IsTimeSheet,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0,1);">@itemDay.DayId</span>
                                }
                                else if (className == "travelSheetIcon")
                                {
                                        <span class="icnTravel travelMonth" data-id="0" data-yearid="@itemDay.YearId" data-monthid="@itemDay.MonthId" data-dayid="@itemDay.DayId" onclick="TravelData(@IsTravel,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0,1);">@itemDay.DayId</span>
                                }
                                else if (className == "timeSheetIcon")
                                {
                                        <span class="icnTimesheet timesheetMonth" data-id="0" id="big-calender-span" data-yearid="@itemDay.YearId" data-monthid="@itemDay.MonthId" data-dayid="@itemDay.DayId" onclick="TimesheetData(@IsTimeSheet,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0,1);">@itemDay.DayId</span>
                                }
                                else if (className == "upliftSheetIcon")
                                {
                                        <span class="icnuplift upliftMonth" data-id="0" id="big-calender-span" data-yearid="@itemDay.YearId" data-monthid="@itemDay.MonthId" data-dayid="@itemDay.DayId" onclick="UpliftData(@IsUplift,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0,1);">@itemDay.DayId</span>
                                 }
                                }
                                </td>
                        }
                        </tr>
                        <tr>
                            @foreach (var itemDay in Model.listOfDayModel.Skip(Take + 14).Take(7))
                        {
                                <td class="add">
                                    @if (itemDay.IsSheduling || itemDay.IsTimeSheet || itemDay.IsTravel || itemDay.IsUplift)
                                {

                                        <div class="dropdown">
                                            <a class="dropdown-toggle @className" id="dropdownMenu1" data-toggle="dropdown">
                                            </a>
                                            @if (className == "schedulingIcon")
                                        {
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                                    <li><a href="#" onclick="SchedulingData(@IsSchdule,@IsTimeSheet,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0,1);">Scheduling</a></li>
                                                    <li><a href="#" onclick="DrillDownData(@IsSchdule,@IsTimeSheet,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0);">Drilldown</a></li>
                                                </ul>
                                        }
                                        else if (className == "travelSheetIcon")
                                        {
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                                    <li><a href="#" onclick="TravelData(@IsTravel,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0,1);">Travel</a></li>
                                                    <li><a href="#" onclick="TravelDrillDownData(@IsTravel,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0);">Drilldown</a></li>
                                                </ul>
                                        }
                                        else if (className == "timeSheetIcon")
                                        {
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                                    <li><a href="#" onclick="TimesheetData(@IsTimeSheet,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0,1);">Timesheet</a></li>
                                                    <li><a href="#" onclick="TTimesheetDrillDownData(@IsTimeSheet,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0);">Drilldown</a></li>
                                                </ul>

                                        }
                                        else if (className == "upliftSheetIcon")
                                        {
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                                    <li><a href="#" onclick="UpliftData(@IsUplift,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0,1);">Uplift</a></li>
                                                    <li><a href="#" onclick="UpliftDrillDownData(@IsUplift,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0);">Drilldown</a></li>
                                                </ul>
                                        }
                                        </div>
                                        @*<a data-toggle="popover" class="@className" onclick="getProjectPlannerData(@IsSchdule,@IsTimeSheet,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId);" data-content="Some content inside the popover"></a>*@
                                }
                                else
                                {
                                        @*<span>@itemDay.DayId</span>*@
                                if (className == "schedulingIcon")
                                {
                                        <span class="icn btn_AddEdit_Scheduling schedulingMonth" data-id="0" id="big-calender-span" data-yearid="@itemDay.YearId" data-monthid="@itemDay.MonthId" data-dayid="@itemDay.DayId" onclick="SchedulingData(@IsSchdule,@IsTimeSheet,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0,1);">@itemDay.DayId</span>
                                }
                                else if (className == "travelSheetIcon")
                                {
                                        <span class="icnTravel travelMonth" data-id="0" id="big-calender-span" data-yearid="@itemDay.YearId" data-monthid="@itemDay.MonthId" data-dayid="@itemDay.DayId" onclick="TravelData(@IsTravel,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0,1);">@itemDay.DayId</span>
                                }
                                else if (className == "timeSheetIcon")
                                {
                                        <span class="icnTimesheet timesheetMonth" id="big-calender-span" data-id="0" data-yearid="@itemDay.YearId" data-monthid="@itemDay.MonthId" data-dayid="@itemDay.DayId" onclick="TimesheetData(@IsTimeSheet,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0,1);">@itemDay.DayId</span>
                                }
                                else if (className == "upliftSheetIcon")
                                {
                                        <span class="icnuplift upliftMonth" data-id="0" id="big-calender-span" data-yearid="@itemDay.YearId" data-monthid="@itemDay.MonthId" data-dayid="@itemDay.DayId" onclick="UpliftData(@IsUplift,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0,1);">@itemDay.DayId</span>
                                    }
                                }
                                </td>
                        }
                        </tr>
                        <tr>
                            @foreach (var itemDay in Model.listOfDayModel.Skip(Take + 21).Take(7))
                        {
                                <td class="add">
                                    @if (itemDay.IsSheduling || itemDay.IsTimeSheet || itemDay.IsTravel || itemDay.IsUplift)
                                {

                                        <div class="dropdown">
                                            <a class="dropdown-toggle @className" id="dropdownMenu1" data-toggle="dropdown">
                                            </a>
                                            @if (className == "schedulingIcon")
                                        {
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                                    <li><a href="#" onclick="SchedulingData(@IsSchdule,@IsTimeSheet,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0,1);">Scheduling</a></li>
                                                    <li><a href="#" onclick="DrillDownData(@IsSchdule,@IsTimeSheet,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0);">Drilldown</a></li>
                                                </ul>
                                        }
                                        else if (className == "travelSheetIcon")
                                        {
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                                    <li><a href="#" onclick="TravelData(@IsTravel,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0,1);">Travel</a></li>
                                                    <li><a href="#" onclick="TravelDrillDownData(@IsTravel,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0);">Drilldown</a></li>
                                                </ul>
                                        }
                                        else if (className == "timeSheetIcon")
                                        {
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                                    <li><a href="#" onclick="TimesheetData(@IsTimeSheet,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0,1);">Timesheet</a></li>
                                                    <li><a href="#" onclick="TTimesheetDrillDownData(@IsTimeSheet,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0);">Drilldown</a></li>
                                                </ul>
                                        }
                                        else if (className == "upliftSheetIcon")
                                        {
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                                    <li><a href="#" onclick="UpliftData(@IsUplift,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0,1);">Uplift</a></li>
                                                    <li><a href="#" onclick="UpliftDrillDownData(@IsUplift,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0);">Drilldown</a></li>
                                                </ul>
                                        }
                                        </div>
                                }
                                else
                                {
                                        @*<span>@itemDay.DayId</span>*@
                                if (className == "schedulingIcon")
                                {
                                        <span class="icn btn_AddEdit_Scheduling schedulingMonth" data-id="0" id="big-calender-span" data-yearid="@itemDay.YearId" data-monthid="@itemDay.MonthId" data-dayid="@itemDay.DayId" onclick="SchedulingData(@IsSchdule,@IsTimeSheet,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0,1);">@itemDay.DayId</span>
                                }
                                else if (className == "travelSheetIcon")
                                {
                                        <span class="icnTravel travelMonth" data-id="0" id="big-calender-span" data-yearid="@itemDay.YearId" data-monthid="@itemDay.MonthId" data-dayid="@itemDay.DayId" onclick="TravelData(@IsTravel,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0,1);">@itemDay.DayId</span>
                                }
                                else if (className == "timeSheetIcon")
                                {
                                        <span class="icnTimesheet timesheetMonth" data-id="0" id="big-calender-span" data-yearid="@itemDay.YearId" data-monthid="@itemDay.MonthId" data-dayid="@itemDay.DayId" onclick="TimesheetData(@IsTimeSheet,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0,1);">@itemDay.DayId</span>
                                }
                                else if (className == "upliftSheetIcon")
                                {
                                        <span class="icnuplift upliftMonth" data-id="0" id="big-calender-span" data-yearid="@itemDay.YearId" data-monthid="@itemDay.MonthId" data-dayid="@itemDay.DayId" onclick="UpliftData(@IsUplift,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0,1);">@itemDay.DayId</span>
                                    }
                                }
                                </td>
                        }
                        </tr>
                        <tr>
                            @foreach (var itemDay in Model.listOfDayModel.Skip(Take + 28).Take(7))
                        {
                                <td class="add">
                                    @if (itemDay.IsSheduling || itemDay.IsTimeSheet || itemDay.IsTravel || itemDay.IsUplift)
                                {

                                        <div class="dropdown">
                                            <a class="dropdown-toggle @className" id="dropdownMenu1" data-toggle="dropdown">
                                            </a>
                                            @if (className == "schedulingIcon")
                                        {
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                                    <li><a href="#" onclick="SchedulingData(@IsSchdule,@IsTimeSheet,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0,1);">Scheduling</a></li>
                                                    <li><a href="#" onclick="DrillDownData(@IsSchdule,@IsTimeSheet,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0);">Drilldown</a></li>
                                                </ul>
                                        }
                                        else if (className == "travelSheetIcon")
                                        {
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                                    <li><a href="#" onclick="TravelData(@IsTravel,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0,1);">Travel</a></li>
                                                    <li><a href="#" onclick="TravelDrillDownData(@IsTravel,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0);">Drilldown</a></li>
                                                </ul>
                                        }
                                        else if (className == "timeSheetIcon")
                                        {
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                                    <li><a href="#" onclick="TimesheetData(@IsTimeSheet,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0,1);">Timesheet</a></li>
                                                    <li><a href="#" onclick="TTimesheetDrillDownData(@IsTimeSheet,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0);">Drilldown</a></li>
                                                </ul>
                                        }
                                        else if (className == "upliftSheetIcon")
                                        {
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                                    <li><a href="#" onclick="UpliftData(@IsUplift,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0,1);">Uplift</a></li>
                                                    <li><a href="#" onclick="UpliftDrillDownData(@IsUplift,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0);">Drilldown</a></li>
                                                </ul>
                                        }
                                        </div>
                                        @*<a data-toggle="popover" class="@className" onclick="getProjectPlannerData(@IsSchdule,@IsTimeSheet,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId);" data-content="Some content inside the popover"></a>*@
                                }
                                else
                                {
                                        @*<span>@itemDay.DayId</span>*@
                                if (className == "schedulingIcon")
                                {
                                        <span class="icn btn_AddEdit_Scheduling schedulingMonth" data-id="0" id="big-calender-span" data-yearid="@itemDay.YearId" data-monthid="@itemDay.MonthId" data-dayid="@itemDay.DayId" onclick="SchedulingData(@IsSchdule,@IsTimeSheet,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0,1);">@itemDay.DayId</span>
                                }
                                else if (className == "travelSheetIcon")
                                {
                                        <span class="icnTravel travelMonth" data-id="0" id="big-calender-span" data-yearid="@itemDay.YearId" data-monthid="@itemDay.MonthId" data-dayid="@itemDay.DayId" onclick="TravelData(@IsTravel,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0,1);">@itemDay.DayId</span>
                                }
                                else if (className == "timeSheetIcon")
                                {
                                        <span class="icnTimesheet timesheetMonth" id="big-calender-span" data-id="0" data-yearid="@itemDay.YearId" data-monthid="@itemDay.MonthId" data-dayid="@itemDay.DayId" onclick="TimesheetData(@IsTimeSheet,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0,1);">@itemDay.DayId</span>
                                }
                                else if (className == "upliftSheetIcon")
                                {
                                        <span class="icnuplift upliftMonth" data-id="0" id="big-calender-span" data-yearid="@itemDay.YearId" data-monthid="@itemDay.MonthId" data-dayid="@itemDay.DayId" onclick="UpliftData(@IsUplift,@itemDay.YearId,@itemDay.MonthId,@itemDay.DayId,0,1);">@itemDay.DayId</span>
                                    }
                                }
                                </td>
                        }
                        </tr>

                    </tbody>
                </table>
            </section>
        </div>
    </div>
    </div></div>

</div>
<div id="EmployeeBenefitModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div id="hideHeadder">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Scheduling</h4>
                </div>
            </div>
            <div class="modal-body" id="EmployeeBenefitBody">
            </div>
            <div id="hideFooter">
                <div class="modal-footer" id="divfooter">
                    <button type="submit" class="btn btn-success" id="btn-submit-EmployeePlanner_Scheduling">Add</button>
                    <button type="button" class="btn btn-warning closeModel" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="EmployeeProjectPlanner_TravelLeaveModel" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close closeModel" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Travel</h4>
            </div>
            <div class="modal-body" id="EmployeeProjectPlanner_TravelLeaveBody">
            </div>
            <div class="modal-footer">
                @*<button type="submit" class="btn btn-success" id="btn-submit-EmployeePlanner_OtherLeave">Add</button>
                    <button type="button" class="btn btn-warning closeModel" data-dismiss="modal">Close</button>*@
            </div>
        </div>

    </div>
</div>

<div id="EmployeeProjectPlanner_TimeSheetModel" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close closeModel" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">TimeSheet</h4>
            </div>
            <div class="modal-body" id="EmployeeProjectPlanner_TimeSheetBody">

            </div>
            <div class="modal-footer">
                @*<button type="submit" class="btn btn-success" id="btn-submit-EmployeePlanner_OtherLeave">Add</button>
                    <button type="button" class="btn btn-warning closeModel" data-dismiss="modal">Close</button>*@
            </div>
        </div>

    </div>
</div>

<div id="EmployeeProjectPlanner_UpliftModel" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close closeModel" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Uplift</h4>
            </div>
            <div class="modal-body" id="EmployeeProjectPlanner_UpliftBody">

            </div>
            <div class="modal-footer">
                @*<button type="submit" class="btn btn-success" id="btn-submit-EmployeePlanner_OtherLeave">Add</button>
                    <button type="button" class="btn btn-warning closeModel" data-dismiss="modal">Close</button>*@
            </div>
        </div>

    </div>
</div>