@model HRTool.Models.Settings.CompanyStructureViewModel
<div class="table-btns">
    <a class="btn btn-success btn-circle " data-toggle="modal" data-target="#addFunction" onclick="btnaddfunction()" title="Add Function"><i class="fa fa-plus"></i></a>
    <a class="btn btn-primary btn-circle  btn-edit-function" data-toggle="modal" data-target="#addFunction" title="Edit" disabled="disabled"><i class="fa fa-pencil"></i></a>
    <a class="btn btn-danger btn-circle  btn-delete-function"  title="Delete" disabled="disabled">
        <i class="fa fa-trash-o"></i>
    </a>
</div>
<table id="example" class="table-bordered display table style2 table-striped  dataTable" cellspacing="0">
    <thead>
        <tr>
            <th>Function Name</th>
            <th>Division</th>
            <th>Business</th>
            <th>Created</th>
        </tr>
    </thead>    
    <tbody>
        @foreach (var items in Model.functionLists)
        {
            <tr id="@items.Id" class="dataTr">
                <td>@items.Name</td>
                <td>@items.DivisionName</td>
                <td>@items.BusinessName</td>
                <td>@items.CreatedDate</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th><input type="text" class="form-control SearchName" placeholder="Name"></th>
            <th><input type="text" class="form-control SearchDivision" placeholder="Division"></th>
            <th><input type="text" class="form-control SearchBusiness" placeholder="Business" /></th>
            <th><input type="text" class="form-control SearchCreatedDate" placeholder="Created Date" /></th>
        </tr>
    </tfoot>
</table>

<div class="modal fade" id="addFunction" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true" style="width:100%;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title functionTitle" id="myModalLabel"></h4>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                

                <div class="row marbot10">
                    <div class="col-md-2">
                        <label class="control-label" for="BusinessNameList">Business Name*</label>
                    </div>
                    <div class="col-md-6">
                        <select id="selBusFun" title="Select Business..." class="form-control">
                            <option class="selBusiness" id="0" value="0" >-- Select Business --</option>
                            @foreach (var items in Model.businessLists)
                            {
                                <option class="selBusiness" id="1_@items.Id" value="@items.Id">@items.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-4">
                        <span class="field-validation-error" id="lbl-error-BusinessNameList" style="display:none;" data-valmsg-for="BusinessNameList" data-valmsg-replace="true">The Business Name is required.</span>
                    </div>
                </div>

                <div class="row marbot10">
                    <div class="col-md-2">
                        <label class="control-label" for="DivisionNameList" >Division Name*</label>
                    </div>
                    <div class="col-md-6">
                        <select id="selDivFun" title="Select Division..." class="form-control"> 
                            <option class="selBusiness" id="0" value="0">-- Select Division --</option>
                            @*@foreach (var items in Model.divisionLists)
                                {
                                    <option class="selDivision" id="1_@items.Id" value="@items.Id">@items.Name</option>
                                }*@
                        </select>
                    </div>
                    <div class="col-md-4">
                        <span class="field-validation-error" id="lbl-error-DivisionNameList" style="display:none;" data-valmsg-for="DivisionNameList" data-valmsg-replace="true">The Division Name is required.</span>
                    </div>
                </div>

                <div class="row marbot10">
                    <div class="col-md-2">
                        <label class="control-label" for="FunctionName">Function Name*</label>
                    </div>
                    <div class="col-md-6">
                        <input type="hidden" id="function_Id" />
                        <input type="text" class="form-control" id="functionText" data-toggle="tooltip" name="FunctionName" title="Function Name" required>
                    </div>
                    <div class="col-md-4">
                        <span class="field-validation-error" id="lbl-error-FunctionName" style="display:none;" data-valmsg-for="FunctionName" data-valmsg-replace="true">The Function Name is required.</span>
                        <span class="field-validation-error" id="lbl-error-FunctionNameExist" style="display:none;" data-valmsg-for="FunctionName" data-valmsg-replace="true">Function name already exist in selected Business and selected Division.</span>
                    </div>
                </div>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btn-submit-Function">ADD</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">CANCEL</button>
            </div>
        </div>
    </div>
</div>

<script>
    DataTableDesignFunction();
    function DataTableDesignFunction() {
        $('#example tfoot tr').appendTo('#example thead');
        var table = $("#example").DataTable({
            "sDom": '<"top"i>rt<"bottom"flp><"clear">',
            "scrollX": true
        });
        $("#tableDiv").find(".dataTables_filter").hide();
        $("#tableDiv").find(".dataTables_info").hide();
        $("#tableDiv thead .SearchName").keyup(function () {
            table.column(0).search(this.value).draw();
        });
        $("#tableDiv thead .SearchDivision").keyup(function () {
            table.column(1).search(this.value).draw();
        });
        $("#tableDiv thead .SearchBusiness").keyup(function () {
            table.column(2).search(this.value).draw();
        })      
        $("#tableDiv .SearchCreatedDate").Zebra_DatePicker({
            //direction: false,
            showButtonPanel: false,
            format: 'd-m-Y',
            default_position: 'below',
            onSelect: function () {
                var date = $("#tableDiv").find('.SearchCreatedDate').val();
                table.column(3).search(date).draw();
            }
        });

        $(".dp_clear").on('click', function () {
            var date = $("#tableDiv").find("thead").find('.SearchCreatedDate').val();
            table.column(3).search(date).draw();          
        });

    }
</script>