@model HRTool.Models.Settings.SegmentViewModel
<br />
<br />
<div class="col-md-12" align="center">
    <div>
        <input type="hidden" value="@Model.Id" id="PerCusDetailId" />
        <input type="hidden" value="@Model.JsonQuestionString" id="QuestJSONString" />
        <input type="hidden" value="@Model.IsJobRoleCustomer" id="IsJobroleCustomer" />
        <input type="hidden" value="@Model.Id" id="CustomerJsonDetailID" />
        <input type="hidden" value="@Model.EmpPerDetailId" id="EmployeePerfromceDetail" />
        @if (Model.Flag == 1)
        {
            <div class="col-md-12" align="center">
                <div class="QuestionData">
                    <div style="display:none;" class="EditSegmetId" data-id="@Model.questionsModel.QueId"></div>
                    <div class="qustion-title text-center">@Model.questionsModel.questionData</div>
                    <lable class="qustion text-center" id="QuetionHelpText">@Model.questionsModel.FiledText</lable>
                    <div>
                        @if (Model.questionsModel.QuFiledValue == "Text Box" || Model.questionsModel.QuFiledValue == "Text Field")
                        {
                            <input type="text" class="form-control QuetionValue validateSeg" id="TextFild_@Model.questionsModel.QueId" value="@Model.questionsModel.Score" />
                        }
                        else if (Model.questionsModel.QuFiledValue == "Number Field")
                        {
                            <input type="number" class="form-control QuetionValue validateSeg" min="0" id="TextFild_@Model.questionsModel.QueId" value="@Model.questionsModel.Score" />
                        }
                        else if (Model.questionsModel.QuFiledValue == "Scrollbar")
                        {
                            <input class="form-control Question_ID" type="hidden" id="QuestionProgress_@Model.questionsModel.QueId" value="@Model.questionsModel.QueId" />
                            <input class="form-control Question_NAME" type="hidden" id="QuestionName_@Model.questionsModel.QueId" value="@Model.questionsModel.questionData" />
                            <input class="form-control Question_Score QuetionValue validateSeg" type="text" value="@Model.questionsModel.Score" id="Competecy_@Model.questionsModel.QueId" name="@Model.questionsModel.questionData" />
                        }
                        else
                        {
                            <input class="form-control QuetionValue validateSeg" type="text" min="0" id="TextFild_@Model.questionsModel.QueId" />
                        }
                    </div>
                </div>
            </div>
            <label class="control-label col-md-3">Comments</label>
            if (Model.IsActivePastFlag == 1)
            {
                <textarea class="form-control textarea-resizeNone" id="coreQuestionComments" data-toggle="tooltip" data-placement="right" placeholder="Comments" name="Comments" title="Any further comments" style="height:250px;">@Model.questionsModel.Comments</textarea>
            }
            else
            {                
                <textarea class="form-control textarea-resizeNone" id="coreQuestionComments" data-toggle="tooltip" data-placement="right" placeholder="Comments" name="Comments" title="Any further comments" style="height:250px;" readonly>@Model.questionsModel.Comments</textarea>
            }
        }
        else if (Model.Flag == 0)
        {
            <div class="col-md-12" align="center">
                <div class="QuestionData">
                    <div style="display:none;" class="EditSegmetId" data-id="@Model.jobroleQueModel.QueId"></div>
                    <div class="qustion-title text-center">@Model.jobroleQueModel.questionData</div>
                    <label class="qustion text-center" id="QuetionHelpText">@Model.jobroleQueModel.FiledText</label>
                    <div>
                        @if (Model.jobroleQueModel.QuFiledValue == "Text Box" || Model.jobroleQueModel.QuFiledValue == "Text Field")
                        {
                            <input class="form-control QuetionValue validateSeg" type="text" id="TextFild_@Model.jobroleQueModel.QueId" value="@Model.jobroleQueModel.Score" />
                        }
                        else if (Model.jobroleQueModel.QuFiledValue == "Number Field")
                        {
                            <input class="form-control QuetionValue validateSeg" type="number" min="0" id="TextFild_@Model.jobroleQueModel.QueId" value="@Model.jobroleQueModel.Score" />
                        }
                        else if (Model.jobroleQueModel.QuFiledValue == "Scrollbar")
                        {
                            <input class="Question_ID form-control" type="hidden" id="QuestionProgress_@Model.jobroleQueModel.QueId" value="@Model.jobroleQueModel.QueId" />
                            <input class="Question_NAME form-control" type="hidden" id="QuestionName_@Model.jobroleQueModel.QueId" value="@Model.jobroleQueModel.questionData" />
                            <input class="form-control Question_Score QuetionValue validateSeg" type="text" value="@Model.jobroleQueModel.Score" id="Competecy_@Model.jobroleQueModel.QueId" name="@Model.jobroleQueModel.questionData" />
                        }
                        else
                        {
                            <input class="form-control QuetionValue validateSeg" type="text" min="0" id="TextFild_@Model.jobroleQueModel.QueId" />
                        }
                    </div>
                </div>
                </div>
                <label class="control-label col-md-3">Comments</label>
                if (Model.IsActivePastFlag == 1)
                {
                    <textarea class="form-control textarea-resizeNone" id="jobroleQuestionComments" data-toggle="tooltip" data-placement="right" placeholder="Comments" name="Comments" title="Any further comments" style="height:250px;">@Model.jobroleQueModel.Comments</textarea>
                }
                else
                {                    
                    <textarea class="form-control textarea-resizeNone" id="jobroleQuestionComments" data-toggle="tooltip" data-placement="right" placeholder="Comments" name="Comments" title="Any further comments" style="height:250px;" readonly>@Model.jobroleQueModel.Comments</textarea>
                }

        }
            </div>
</div>
<div class="col-md-12">
    @if (Model.IsActivePastFlag == 1)
    {
        <button id="btn-SaveCustomerReviewDetails" onclick="saveEmployeePerformanceDetails(@Model.Flag,@Model.IsActivePastFlag)" class="btn btn-success" value="Submit">Submit</button>
    }
    else
    {
    }
</div>
<script>
    var saveCusto = {
        saveCustomerInviteDetails:'@Url.Action("saveCustomerInviteDetails", "EmployeePerformance")',
    }
</script>
<script>
    displayProgressbar();
    function displayProgressbar()
    {
        $(".Question_Score").ionRangeSlider({
            type: "single",
            min: 0,
            max: 5
        });
    }

</script>
