 

<div class="profile-usermenu ">
<ul class="nav userVisa">       
        <li class="active filter_Class" title="Myvisa" >
            <a class="MyVisa">
                <span class="pad-left">My visa</span><strong class="pull-right badge badge-light"> @Model.MyVisa</strong> 
            </a>
        </li>
    <li class="filter_Class">
        <a class="Expired">
             <span class="pad-left">Expired</span><strong class="pull-right badge badge-danger">  @Model.Expired</strong>
        </a>
    </li>
    <li class="filter_Class">
        <a class="New">
            <span class="pad-left">New</span><strong class="pull-right badge badge-primary"> @Model.New</strong>
        </a>
    </li>
    <li class="filter_Class">
        <a class="ExpiringToday">
            <span class="pad-left">ExpiringToday</span><strong class="pull-right badge badge-info"> @Model.ExpiringToday</strong>
        </a>
    </li>

    <li class="filter_Class" title="Upcoming">
        <a class="Upcoming">
          <span class="pad-left">Upcoming</span><strong class="pull-right badge badge-warning"> @Model.Upcoming</strong>
        </a>
    </li>
    <li class="filter_Class" title="Valid">
        <a class="Valid">
            <span class="pad-left">Valid</span><strong class="pull-right badge badge-success "> @Model.Valid</strong>
        </a>
    </li>
    <li class="filter_Class" title="AllVisa">
        <a class="AllVisa">
            <span class="pad-left">AllVisa</span><strong class="pull-right badge badge-secondary"> @Model.AllVisa</strong>
        </a>
    </li>  
</ul>
</div>

