@model HRTool.Models.Resources.EmployeePlanner_AnnualLeaveViewModel
<div class="row marbot10">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        <input type="hidden" value="@Model.Id" id="HiddenId" />
        <input type="hidden" value="@Model.yearId" id="HiddenYearId" />
        <input type="hidden" value="@Model.monthId" id="HiddenMonthId" />
        <input type="hidden" value="@Model.day" id="HiddendayId" />
        <span class="icheck-inline icheck-inline-custome text-center">
            <label class="inline-label">
                @if (Model.IsLessThenADay == true)
                {
                    <input type="radio" name="lessThanADay" id="adayormore" class="Annual_leave_radio">
                }
                else
                {
                    <input type="radio" name="lessThanADay" id="adayormore" class="Annual_leave_radio" checked="checked">
                }
                A day or more
            </label>
        </span>
        <span class="icheck-inline icheck-inline-custome  text-center">
            <label class="inline-label">
                @if (Model.IsLessThenADay == true)
                {
                    <input type="radio" name="lessThanADay" id="lessThanADay" class="Annual_leave_radio" checked="checked">
                }
                else
                {
                    <input type="radio" name="lessThanADay" id="lessThanADay" class="Annual_leave_radio">
                }
                Less than a day
            </label>
        </span>
    </div>
    <div class="col-md-3">
    </div>
</div>

<div class="row marbot10">
    <div class="col-md-3">
        <label class="control-label" for="StatusList">TOIL</label>
    </div>
    <div class="col-md-6">
        @if (Model.TOIL == true)
        {
            <input type="checkbox" class="form-control form-control-toil" name="toil" id="chk_TOIL" checked="checked">
        }
        else
        {
            <input type="checkbox"  class="form-control form-control-toil" name="toil" id="chk_TOIL">
        }
    </div>
    <div class="col-md-3">

    </div>
</div>

<div id="div_ADayOrMore">
    <div class="row marbot10">
        <div class="col-md-3">
            <label class="control-label" for="StatusList">Start Date *</label>
        </div>
        <div class="col-md-6">
            <input type="text" readonly="readonly" value="@Model.StartDate" id="txt_StartDate" class="form-control" />
        </div>
        <div class="col-md-3">
            <span class="field-validation-error" id="lbl-error-StartDate" style="display:none;" data-valmsg-for="DateAwarded" data-valmsg-replace="true">Start Date is required.</span>
        </div>
    </div>
    <div class="row marbot10">
        <div class="col-md-3">
            <label class="control-label" for="StatusList">End Date *</label>
        </div>
        <div class="col-md-6">
            <input type="text" readonly="readonly" value="@Model.EndDate" id="txt_EndDate" class="form-control" />
        </div>
        <div class="col-md-3">
            <span class="field-validation-error" id="lbl-error-EndDate" style="display:none;" data-valmsg-for="DateAwarded" data-valmsg-replace="true">End Date is required.</span>
            <span class="field-validation-error" id="lbl-error-GreaterEndDate" style="display:none;" data-valmsg-for="DateAwarded" data-valmsg-replace="true">Please select end date is grater then start date.</span>
        </div>
    </div>
    <div class="row marbot10">
        <div class="col-md-3">
            <label class="control-label" for="StatusList">Duration</label>
        </div>
        <div class="col-md-2">
            <input type="text" value="@Model.Duration" id="txt_Duration" class="form-control" readonly="readonly" />
        </div>
        <div class="col-md-4" style="padding-left:0px;">
            <label style="margin-top:5px;">Days</label>
        </div>
        <div class="col-md-3">

        </div>
    </div>
    <div class="row marbot10">
        <div class="col-md-3">
            <label class="control-label" for="StatusList">Supporting Comments *</label>
        </div>
        <div class="col-md-6">
            <textarea placeholder="Supporting Comments" id="text_Comments" class="form-control textarea-resizeNone">@Model.Comment</textarea>
        </div>
        <div class="col-md-3">
            <span class="field-validation-error" id="lbl-error-Comments" style="display:none;" data-valmsg-for="DateAwarded" data-valmsg-replace="true">Supporting Comments is required.</span>
        </div>
    </div>
</div>

<div id="div_LessThenADay" style="display:none;">
    <div class="row marbot10">
        <div class="col-md-3">
            <label class="control-label" for="StatusList">Start Date *</label>
        </div>
        <div class="col-md-6">
            <input type="text" readonly="readonly" value="@Model.StartDate" id="txt_LessThenStartDate" class="form-control" />
        </div>
        <div class="col-md-3">
            <span class="field-validation-error" id="lbl-error-LessThenStartDate" style="display:none;" data-valmsg-for="DateAwarded" data-valmsg-replace="true">Start Date is required.</span>
        </div>
    </div>
    <div class="row marbot10">
        <div class="col-md-3">
            <label class="control-label" for="StatusList">Duration</label>
        </div>
        <div class="col-md-2">
            <input type="text" value="0.5" id="txt_LessThenDuration" readonly="readonly" class="form-control" />
        </div>
        <div class="col-md-4" style="padding-left:0px;">
            <label style="margin-top:5px;">Days</label>
        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>