@model HRTool.Models.BulkActions.EmployeePlanner_TimeSheet_DetailViewModel
<div class="col-md-12 border-div-top Timesheet_Detail_Div" id="timesheetDetails">
    <div class="row marbot10">
        <div class="col-md-3">
            <label class="control-label" for="InTimeSD">Time In*</label>
        </div>
        <div class="col-md-1">
            <div class="input-group spinner">
                <select id="drp-HourseListSDTimesheet" class="form-control" onchange="ChangeHour()">
                    @foreach (var item in Model.HoursList)
                    {
                        if (Model.InTimeHr.ToString() == item.Value)
                        {
                            <option value=@item.Value selected="selected">@item.Text</option>
                        }
                        else
                        {
                            <option value=@item.Value>@item.Text</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="col-md-5">
            <div class="input-group spinner">
                <select id="drp-MinutesListSDTimesheet" class="form-control" onchange="ChangeHour()">
                    @foreach (var item in Model.MinutesList)
                    {
                        if (Model.InTimeMin.ToString() == item.Value)
                        {
                            <option value=@item.Value selected="selected">@item.Text</option>
                        }
                        else
                        {
                            <option value=@item.Value>@item.Text</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <span class="field-validation-error" id="lbl-error-InTimeSD" style="display:none;" data-valmsg-for="InTimeSD" data-valmsg-replace="true">In time is required.</span>
            <span class="field-validation-error" id="lbl-error-validtimeSD" style="display:none;" data-valmsg-for="InTimeSD" data-valmsg-replace="true">Please select valid time.</span>
        </div>
    </div>

    <div class="row marbot10">
        <div class="col-md-3">
            <label class="control-label" for="InTimeED">Time Out*</label>
        </div>
        <div class="col-md-1">
            <div class="input-group spinner">
                <select id="drp-HourseListEDTimesheet" class="form-control" onchange="ChangeHour()">
                    @foreach (var item in Model.HoursList)
                    {
                        if (Model.EndTimeHr.ToString() == item.Value)
                        {
                            <option value=@item.Value selected="selected">@item.Text</option>
                        }
                        else
                        {
                            <option value=@item.Value>@item.Text</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="col-md-5">
            <div class="input-group spinner">
                <select id="drp-MinutesListEDTimesheet" class="form-control" onchange="ChangeHour()">
                    @foreach (var item in Model.MinutesList)
                    {
                        if (Model.EndTimeMin.ToString() == item.Value)
                        {
                            <option value=@item.Value selected="selected">@item.Text</option>
                        }
                        else
                        {
                            <option value=@item.Value>@item.Text</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <span class="field-validation-error" id="lbl-error-InTimeED" style="display:none;" data-valmsg-for="InTimeSD" data-valmsg-replace="true">Out time is required.</span>
        </div>
    </div>

    <div class="row marbot10">
        <div class="col-md-3">
            <label class="control-label" for="StatusList">Project</label>
        </div>
        <div class="col-md-6">
            <select id="drp-Project" class="form-control">
                @foreach (var item in Model.ProjectList)
                {
                    if (Model.Project.ToString() == item.Value)
                    {
                        <option value=@item.Value selected="selected">@item.Text</option>
                    }
                    else
                    {
                        <option value=@item.Value>@item.Text</option>
                    }
                }
            </select>
        </div>
        <div class="col-md-3">
        </div>
    </div>

    <div class="row marbot10">
        <div class="col-md-3">
            <label class="control-label" for="StatusList">Cost Code *</label>
        </div>
        <div class="col-md-6">
            <select id="drp-CostCode" class="form-control">
                @foreach (var item in Model.CostCodeList)
                {
                    if (Model.CostCode.ToString() == item.Value)
                    {
                        <option value=@item.Value selected="selected">@item.Text</option>
                    }
                    else
                    {
                        <option value=@item.Value>@item.Text</option>
                    }
                }
            </select>
        </div>
        <div class="col-md-3">
            <span class="field-validation-error" id="lbl-error-CostCode" style="display:none;" data-valmsg-for="StatusList" data-valmsg-replace="true">Cost Code is required.</span>
        </div>
    </div>

    <div class="row marbot10">
        <div class="col-md-3">
            <label class="control-label" for="StatusList">Customer</label>
        </div>
        <div class="col-md-6">
            <input type="hidden" id="drp-Customer" value="" />
            <input type="text" class="awesomplete form-control" id="custNameText" size="70" value="" placeholder="Customer Name" />

            @*<select id="drp-Customer" class="form-control">
                @foreach (var item in Model.CustomerList)
                {
                    if (Model.Customer == item.Value)
                    {
                        <option value=@item.Value selected="selected">@item.Text</option>
                    }
                    else
                    {
                        <option value=@item.Value>@item.Text</option>
                    }
                }
            </select>*@
        </div>
        <div class="col-md-3">
        </div>
    </div>

    <div class="row marbot10">
        <div class="col-md-3">
            <label class="control-label" for="StatusList">Asset</label>
        </div>
        <div class="col-md-6">
            <select id="drp-Asset" class="form-control">
                @foreach (var item in Model.AssetList)
                {
                    if (Model.Asset.ToString() == item.Value)
                    {
                        <option value=@item.Value selected="selected">@item.Text</option>
                    }
                    else
                    {
                        <option value=@item.Value>@item.Text</option>
                    }
                }
            </select>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>
<script>
    var bulkActionCustomer = {
        getCustomer: '@Url.Action("getCustomer", "BulkActions")',

    }
</script>
<script>
    searchCustomer();
    function searchCustomer() {
        var listData = [];
        $.ajax({
            url: bulkActionCustomer.getCustomer,
            data: {},
            success: function (data) {
                $.each(data.CustomerList, function (index, item) {
                    listData.push(item.Text);
                });
                //Copy From
                var input = document.getElementById("custNameText");
                var awesomplete = new Awesomplete(input, {
                    minChars: 1,
                    maxItems: 5,
                    autoFirst: true,
                });
                awesomplete.list = listData;
                $('#custNameText').change(function () {
                    value = $('#custNameText').val();
                    for (var i = 0; i < data.CustomerList.length; i++) {
                        if (value == data.CustomerList[i].Text) {
                            var eid = data.CustomerList[i].Value;
                            break;
                        }
                        else {
                            eid = '';
                        }
                    }
                    $("#drp-Customer").val(eid);
                });

            }
        });
    }
    function ChangeHour() {
        $("#lbl-error-validtimeSD").hide();
        var arryDiff = [];
        var totalMonth=0;
        $('.Timesheet_Detail_Div').each(function () {
            debugger;
            var Diff = 0;
            var St = $(this).find('#drp-HourseListSDTimesheet').val();
            var Sm = $(this).find('#drp-MinutesListSDTimesheet').val();
            var Et = $(this).find('#drp-HourseListEDTimesheet').val();
            var Em = $(this).find('#drp-MinutesListEDTimesheet').val();
            Diff = ((new Date("1991-1-1 " + Et + "" + ":" + "" + Em + "") - new Date("1991-1-1 " + St + "" + ":" + "" + Sm + "")) / 1000 / 60 / 60).toFixed(2);
            arryDiff.push(Diff);          
        });
        for (var i = 0; i < arryDiff.length; i++) {
            totalMonth = parseFloat(totalMonth) + parseFloat(arryDiff[i]);
        }
        if (totalMonth < 0) {          
            $("#lbl-error-validtimeSD").show();
        }
        else {
            debugger;
            document.getElementById("totalTodayTime").innerHTML = totalMonth;
        }
    }

</script>