@model HRTool.Models.Resources.EmployeePlanner_TimeSheetViewModel

<div id="wizard" class="swMain">
    <ul class="tablistnew two">
        <li>
            <a href="#step-1" class="s1">
                <span>1</span> Detail
            </a>
        </li>
        <li>
            <a href="#step-2" class="s2">
                <span>2</span> Document
            </a>
        </li>
    </ul>
    <input type="hidden" value="@Model.timehseetDrillDown" id="timesheetdrillDown" />
    <input type="hidden" value="@Model.isMonth" id="isTimesheetmonth" />
    <input type="hidden" value="@Model.Flag" id="isEditTimesheet" />
    <div id="step-1">
        <div class="row marbot10">
            <div class="col-md-3">
                <label class="control-label" for="StatusList">Select Resource</label>
            </div>
            <div class="col-md-6">
                @if (Model.Flag == 1)
                {
                    <input type="hidden" id="selectID" value="@Model.EmployeeId" />
                    <input type="text" class="awesomplete form-control" id="empNameText" value="@Model.EmployeeName" size="70" placeholder="Employee Name" />
                }
                else
                {
                    <input type="hidden" id="selectID" value="@Model.EmployeeId" disabled />
                    <input type="text" class="awesomplete form-control" id="empNameText" value="@Model.EmployeeName" size="70" placeholder="Employee Name" disabled />
                }
            </div>

            <div class="col-md-3">
                <span class="field-validation-error" id="lbl-error-Resource" style="display:none;" data-valmsg-for="Customer" data-valmsg-replace="true">Please select Resource.</span>
            </div>
        </div>
        <div class="row marbot10">
            <div class="col-md-3">
                <input type="hidden" value="@Model.Id" id="HiddenId" />
                <input type="hidden" value="@Model.yearId" id="HiddenYearId" />
                <input type="hidden" value="@Model.monthId" id="HiddenMonthId" />
                <input type="hidden" value="@Model.day" id="HiddendayId" />
                <label class="control-label" for="StatusList">Date *</label>
            </div>
            <div class="col-md-6">
                @if (Model.Flag == 1 && Model.timehseetDrillDown == 0)
                {
                    <input type="text" value="@Model.Date" id="txt_Date" class="form-control" />
                }
                else
                {
                    <input type="text" value="@Model.Date" id="txt_Date" class="form-control" disabled />
                }
            </div>
            <div class="col-md-3">
                <span class="field-validation-error" id="lbl-error-Date" style="display:none;" data-valmsg-for="StatusList" data-valmsg-replace="true">Date is required.</span>
            </div>
        </div>
        <div class="row marbot10" id="TimeSheet_detail">
            @foreach (var item in Model.DetailList)
            {
                @Html.Partial("_partialAdd_TimeSheet_Detail", item);
            }
        </div>
        <div class="row marbot10">
            <div class="col-md-12">
                @if (Model.Flag == 1)
                {
                    <input type="button" value="Add New" id="btn_AddNew_TimesheetDetail" class="md-btn md-btn-primary" />
                }
                else
                {
                }
            </div>
        </div>
        <div class="row marbot10">
            <div class="col-md-3">
                <label class="control-label" for="StatusList">Supporting Comments</label>
            </div>
            <div class="col-md-6">
                @if (Model.Flag == 1)
                {
                    <textarea placeholder="Supporting Comments" id="text_Comments" class="form-control textarea-resizeNone">@Model.Comment</textarea>
                }
                else
                {
                    <textarea placeholder="Supporting Comments" id="text_Comments" class="form-control textarea-resizeNone" disabled>@Model.Comment</textarea>
                }
            </div>
            <div class="col-md-3">
                <span class="field-validation-error" id="lbl-error-Comments" style="display:none;" data-valmsg-for="DateAwarded" data-valmsg-replace="true">Supporting Comments is required.</span>
            </div>
        </div>
        <div class="row row-eq-height">
            <div class="col-sm-3">
                <div class="well .col-eq-height" id="totalTodayTime"> Today <br />@Model.totalHrToday</div>
            </div>
            <div class="col-sm-3">
                <div class="well .col-eq-height">This Week <br />@Model.totalHrOfWeek </div>
            </div>
            <div class="col-sm-3">
                <div class="well">This Month  <br />@Model.totoalHrInMonth </div>
            </div>
        </div>
    </div>

    <div id="step-2">
        <div class="browse-attach">
            <label type="file" for="TimeSheetFileToUpload" class="btn btn-sm btn-purple btn-upload md-btn-primary">
                <p>Drop docs,pdfs or images here or click to upload</p>
                <span class="btn">BROWSE</span>
            </label>
            @if (Model.Flag == 1)
            {
                <input type="file" id="TimeSheetFileToUpload" accept=".jpg,.jpeg,.bmp,.png,.pdf,.docx" style="display: none">
            }
            else
            {
                <input type="file" id="TimeSheetFileToUpload" accept=".jpg,.jpeg,.bmp,.png,.pdf,.docx" style="display: none" disabled>
            }
        </div>
        <div id="filesList">
            @if (Model.Flag == 1)
            {
                foreach (var item in Model.DocumentList)
                {
                    <div class="row ListData"><div class="col-lg-1 icon"><i class="fa fa-paperclip"></i></div><div class="col-lg-10 attach-disc"><label class="fileName" data-newfilename="@item.newName">@item.originalName</label><br><input type="text" class="ImageDescription form-control" value="@item.description" placeholder="Add Description Here"></div><div class="col-lg-1 file-deleteicon"><i class="fa fa-trash-o"></i></div></div>
                }
            }
            else
            {
                foreach (var item in Model.DocumentList)
                {
                    <div class="row ListData"><div class="col-lg-1 icon"><i class="fa fa-paperclip"></i></div><div class="col-lg-10 attach-disc"><label class="fileName" data-newfilename="@item.newName">@item.originalName</label><br><input type="text" class="ImageDescription form-control" value="@item.description" placeholder="Add Description Here"></div></div>
                }
            }
        </div>
    </div>
</div>
<script>
    var getEmpploye = {
        getEmpData: '@Url.Action("getEmployee", "AdminPlanner")',
        checkEmployeeWorkPattern: '@Url.Action("EmployeeWorkPatternExist", "AdminPlanner")',
    }
</script>
<script type="text/javascript">
    test();
    function test() {
        var resourceList = [];
        $.ajax({
            url: getEmpploye.getEmpData,
            data: {},
            success: function (data) {              
                $.each(data.ResourceList, function (index, item) {
                    resourceList.push(item.Text);
                })
                debugger;
                var input = document.getElementById("empNameText");
                var awesomplete = new Awesomplete(input, {
                    minChars: 1,
                    autoFirst: true,
                    maxItems: 3,
                });
                awesomplete.list = resourceList;
                var value = '';
                var eid = '';
                $('#empNameText').change(function () {
                    $("#lbl-error-Resource").hide();
                    value = $('#empNameText').val();
                    for (var i = 0; i < data.ResourceList.length; i++) {
                        if (value == data.ResourceList[i].Text) {
                            eid = data.ResourceList[i].Value;
                            break;
                        }
                    }
                    $("#selectID").val(eid);
                    debugger;
                    if (eid != "" && eid != 0) {
                        var edate = $("#txt_Date").val();
                        $.ajax({
                            url: getEmpploye.checkEmployeeWorkPattern,
                            type: 'POST',
                            data: { EmployeeId: eid, sdate: edate },
                            success: function (data) {
                                debugger;
                                var booleanWork = JSON.stringify(data);
                                if (data == "True" || data == true) {
                                    $("#selectID").val(reseid);
                                }
                                else if (data == "False" || data == false) {
                                    $("#selectID").val(0);
                                    $("#empNameText").val('');
                                    alert("Please Select Employee WorkPattern");
                                }
                            }
                        });
                    }
                    else {
                    }
                });
          
            }
        });
    }

</script>

