@model HRTool.Models.RolesManagement.RolesManagementMenuViewModel

<div id="AddmenuModel" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Menu</h4>
            </div>
            <div class="modal-body" id="addMenuBody">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" id="btn-submit-AddMenuRecord">Add</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div class="table-btns">
    <a class="btn btn-success btn-circle  btn-add-menu" title="Add Assets" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#AddmenuModel"><i class="fa fa-plus"></i></a>
    <a class="btn btn-primary btn-circle  btn-edit-menu" title="Edit" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#AddmenuModel" disabled="disabled"><i class="fa fa-pencil"></i></a>
    <a class="btn btn-danger btn-circle  btn-delete-menu" data-toggle="tooltip" title="Delete" disabled="disabled"><i class="fa fa-trash-o"></i> </a>
    <button title="Refresh" class="btn btn-primary btn-circle  btn-Refresh-menu" data-toggle="tooltip"><i class="fa fa-reply"></i></button>
    <button title="Clear Sorting" class="btn btn-warning btn-circle  btn-ClearSorting-menu" data-toggle="tooltip"><i class="fa fa-upload"></i></button>
    <button class="btn btn-warning btn-circle  btn-clearFilter-menu" title="Clear Filter"><i class="material-icons" data-toggle="tooltip">filter_list</i></button>
</div>
<table id="AddMenuListRecordTable" class="table-bordered display table style2 table-striped  dataTable" cellspacing="0">
    <thead>
        <tr class="tblHeading">
            <th>Menu Name</th>
            <th>Action Menu</th>
            <th>Controller Name</th>
            <th>Parent Menu</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.RoleListModelList)
        {
            <tr id="@item.Id" class="dataTr">
                <td>@item.MenuName</td>
                <td>@item.ActionName</td>
                <td>@item.ControllerName</td>
                <td>@item.parenCategoryName</td>
            </tr>
        }
    </tbody>
</table>
